﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FeaturedBuildingListings.ascx.cs" Inherits="Cntrls_FeaturedBuildingDetail_FeaturedBuildingListings" %>

    <olr:OLRPageNav ID="PageNav2" runat="server" UsePostback="false" PrevImageUrl="images/icons/prev.png" NextImageUrl="images/icons/next.png"  />
    <olr:ShortForm runat="server" ID="ShortForm1" NoResultMessage="" />