﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Map_Brooklyn_Micro.ascx.cs" Inherits="Cntrls_Search_Map_Brooklyn_Micro" %>

<script src="js/jquery.tooltip.js" type="text/javascript"></script>
<script src="js/jquery.metadata.js" type="text/javascript"></script>
<script src="js/jquery.hovermap.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    $(function () {
        $('.map-container').hovermap({ width: 439, height: 563, backgroundImage: 'images/map-brooklyn/map.png' });
        $('.map-container map *').tooltip({ positionLeft: true, track: true });
    });
</script>
<div class="map-container">
        <img src="images/map-brooklyn/clear.png" border="0" width="439" height="563" usemap="#brooklyn" alt="" class="map" />
        <map name="brooklyn" id="brooklyn-map">
        <area href="#" id="bathbeach" shape="poly" alt="Bath Beach"
                coords="52,426,71,404,101,431,89,453,72,436,52,427"
                class="{hoverImage:'images/map-brooklyn/bath-beach.png',selectedImage:'images/map-brooklyn/bath-beach.png',left:51,top:403}" />
        <area href="#" id="bayridge" shape="poly" alt="Bay Ridge"
                coords="25,319,58,345,57,363,41,379,32,373,9,367,24,330,17,327,23,319"
                class="{hoverImage:'images/map-brooklyn/bay-ridge.png',selectedImage:'images/map-brooklyn/bay-ridge.png',left:7,top:317}" />
        <area href="#" id="bedfordstuyvesant" shape="poly" alt="Bedford Stuyvesant"
                coords="261,204,264,227,193,224,182,220,173,175,210,165,261,204"
                class="{hoverImage:'images/map-brooklyn/bedford-stuyvesant.png',selectedImage:'images/map-brooklyn/bedford-stuyvesant.png',left:170,top:165}" />
         <area href="#" id="bensonhurst" shape="poly" alt="Bensonhurst"
                coords="102,369,139,363,145,414,119,415,106,428,92,416,102,371"
                class="{hoverImage:'images/map-brooklyn/bensonhurst.png',selectedImage:'images/map-brooklyn/bensonhurst.png',left:87,top:362}" />
         <area href="#" id="bergenbeach" shape="poly" alt="Bergen Beach"
                coords="278,391,297,376,304,384,304,391,308,399,312,400,320,409,311,411,312,418,299,424,297,419,297,412,284,395"
                class="{hoverImage:'images/map-brooklyn/bergen-beach.png',selectedImage:'images/map-brooklyn/bergen-beach.png',left:277,top:374}" />
         <area href="#" id="boerumhill" shape="poly" alt="Boerum Hill"
                coords="110,196,135,207,132,221,107,211,111,198"
                class="{hoverImage:'images/map-brooklyn/boerum-hill.png',selectedImage:'images/map-brooklyn/boerum-hill.png',left:103,top:194}" />
        <area href="#" id="boroughpark" shape="poly" alt="Borough Park"
                coords="105,312,113,318,131,310,137,359,105,366,81,348,105,315"
                class="{hoverImage:'images/map-brooklyn/borough-park.png',selectedImage:'images/map-brooklyn/borough-park.png',left:76,top:307}" />
        <area href="#" id="brightonbeach" shape="poly" alt="Brighton Beach"
                coords="165,483,181,479,185,506,157,509,163,486"
                class="{hoverImage:'images/map-brooklyn/brighton-beach.png',selectedImage:'images/map-brooklyn/brighton-beach.png',left:156,top:477}" />
        <area href="#" id="brooklynheights" shape="poly" alt="Brooklyn Heights"
                coords="105,156,110,166,109,172,113,186,109,190,94,182,103,160"
                class="{hoverImage:'images/map-brooklyn/brooklyn-heights.png',selectedImage:'images/map-brooklyn/brooklyn-heights.png',left:93,top:155}" />
        <area href="#" id="brownsville" shape="poly" alt="Brownsville"
                coords="248,258,291,237,297,281,283,294,251,256"
                class="{hoverImage:'images/map-brooklyn/brownsville.png',selectedImage:'images/map-brooklyn/brownsville.png',left:246,top:234}" />
         <area href="#" id="bushwick" shape="poly" alt="Bushwick"
                coords="255,144,297,178,285,198,285,207,293,214,291,223,215,163,254,145"
                class="{hoverImage:'images/map-brooklyn/bushwick.png',selectedImage:'images/map-brooklyn/bushwick.png',left:215,top:142}" />
        <area href="#" id="carrollgardens" shape="poly" alt="Carroll Gardens"
                coords="102,212,93,236,81,208,84,202,100,210"
                class="{hoverImage:'images/map-brooklyn/carroll-gardens.png',selectedImage:'images/map-brooklyn/carroll-gardens.png',left:79,top:203}" />
        <area href="#" id="cityline" shape="poly" alt="City Line"
                coords="354,217,365,215,371,215,378,235,363,229,355,222"
                class="{hoverImage:'images/map-brooklyn/city-line.png',selectedImage:'images/map-brooklyn/city-line.png',left:351,top:212}" />
        <area href="#" id="clintonhill" shape="poly" alt="Clinton Hill"
                coords="159,173,168,174,179,218,162,213,158,174"
                class="{hoverImage:'images/map-brooklyn/clinton-hill.png',selectedImage:'images/map-brooklyn/clinton-hill.png',left:155,top:172}" />
        <area href="#" id="cobblehill" shape="poly" alt="Cobble Hill"
                coords="93,187,104,194,102,206,85,201,91,187"
                class="{hoverImage:'images/map-brooklyn/cobble-hill.png',selectedImage:'images/map-brooklyn/cobble-hill.png',left:83,top:185}" />
        <area href="#" id="coneyisland" shape="poly" alt="Coney Island"
                coords="89,490,115,493,127,484,136,486,159,480,155,508,131,514,108,515,94,516,91,512,88,491"
                class="{hoverImage:'images/map-brooklyn/coney-island.png',selectedImage:'images/map-brooklyn/coney-island.png',left:85,top:481}" />
        <area href="#" id="crownheights" shape="poly" alt="Crown Heights"
                coords="168,220,188,227,263,230,262,247,233,262,179,261,168,227"
                class="{hoverImage:'images/map-brooklyn/crown-heights.png',selectedImage:'images/map-brooklyn/crown-heights.png',left:164,top:217}" />
        <area href="#" id="cypresshill" shape="poly" alt="Cypress Hill"
                coords="351,200,363,192,366,208,354,214,350,204"
                class="{hoverImage:'images/map-brooklyn/cypress-hill.png',selectedImage:'images/map-brooklyn/cypress-hill.png',left:349,top:190}" />
         <area href="#" id="downtownbrooklyn" shape="poly" alt="Downtown Brooklyn"
                coords="110,160,116,160,122,164,117,167,134,203,112,196,113,184,112,173,114,161,112,159"
                class="{hoverImage:'images/map-brooklyn/downtown-brooklyn.png',selectedImage:'images/map-brooklyn/downtown-brooklyn.png',left:103,top:153}" />
         <area href="#" id="dumbo" shape="poly" alt="Dumbo"
                coords="117,155,134,148,131,163,118,154"
                class="{hoverImage:'images/map-brooklyn/dumbo.png',selectedImage:'images/map-brooklyn/dumbo.png',left:111,top:148}" />
        <area href="#" id="dykerheights" shape="poly" alt="Dyker Heights"
                coords="63,349,71,354,75,351,98,366,90,411,72,404,58,414,48,405,53,392,48,375"
                class="{hoverImage:'images/map-brooklyn/dyker-heights.png',selectedImage:'images/map-brooklyn/dyker-heights.png',left:43,top:339}" />
        <area href="#" id="eastflatbush" shape="poly" alt="East Flatbush"
                coords="204,266,228,267,256,294,259,343,232,348,244,338,248,325,206,322,205,267"
                class="{hoverImage:'images/map-brooklyn/east-flatbush.png',selectedImage:'images/map-brooklyn/east-flatbush.png',left:200,top:263}" />
        <area href="#" id="eastnewyork" shape="poly" alt="East New York"
                coords="295,234,302,227,307,236,349,221,359,231,378,237,377,243,384,242,387,268,366,268,353,245,299,273,293,238"
                class="{hoverImage:'images/map-brooklyn/east-new-york.png',selectedImage:'images/map-brooklyn/east-new-york.png',left:293,top:219}" />
        <area href="#" id="eastwilliamsburg" shape="poly" alt="East Williamsburg"
                coords="200,134,201,148,214,159,249,141,245,131,237,132,239,138,231,141,228,136,231,131,216,126,200,132"
                class="{hoverImage:'images/map-brooklyn/east-williamsburg.png',selectedImage:'images/map-brooklyn/east-williamsburg.png',left:197,top:124}" />
        <area href="#" id="farragut" shape="poly" alt="Farragut"
                coords="206,328,241,325,244,332,224,348,208,348,206,330"
                class="{hoverImage:'images/map-brooklyn/farragut.png',selectedImage:'images/map-brooklyn/farragut.png',left:204,top:323}" />
         <area href="#" id="flatbush" shape="poly" alt="Flatbush"
                coords="175,289,200,287,202,350,192,348,186,351,183,351,179,333,163,343,162,336,151,301,174,291"
                class="{hoverImage:'images/map-brooklyn/flatbush.png',selectedImage:'images/map-brooklyn/flatbush.png',left:150,top:285}" />
         <area href="#" id="flatlands" shape="poly" alt="Flatlands"
                coords="208,353,256,350,228,376,208,355"
                class="{hoverImage:'images/map-brooklyn/flatlands.png',selectedImage:'images/map-brooklyn/flatlands.png',left:204,top:348}" />
        <area href="#" id="fortgreene" shape="poly" alt="Fort Greene"
                coords="122,170,132,172,153,173,158,213,141,208,124,171"
                class="{hoverImage:'images/map-brooklyn/fort-greene.png',selectedImage:'images/map-brooklyn/fort-greene.png',left:118,top:160}" />
        <area href="#" id="forthamilton" shape="poly" alt="Fort Hamilton"
                coords="10,371,30,374,48,389,42,411,36,408,38,403,34,401,21,407,10,398,8,387,8,371"
                class="{hoverImage:'images/map-brooklyn/fort-hamilton.png',selectedImage:'images/map-brooklyn/fort-hamilton.png',left:2,top:364}" />
        <area href="#" id="georgetown" shape="poly" alt="Georgetown"
                coords="262,357,290,372,269,390,263,384,260,359"
                class="{hoverImage:'images/map-brooklyn/georgetown.png',selectedImage:'images/map-brooklyn/georgetown.png',left:261,top:355}" />
         <area href="#" id="gerritsenbeach" shape="poly" alt="Gerritsen Beach"
                coords="230,437,241,447,242,453,259,472,246,472,234,463,238,457,232,451,230,437"
                class="{hoverImage:'images/map-brooklyn/gerritsen-beach.png',selectedImage:'images/map-brooklyn/gerritsen-beach.png',left:229,top:434}" />
        <area href="#" id="gowanus" shape="poly" alt="Gowanus"
                coords="106,214,125,223,107,257,101,255,97,240,105,217"
                class="{hoverImage:'images/map-brooklyn/gowanus.png',selectedImage:'images/map-brooklyn/gowanus.png',left:95,top:213}" />
        <area href="#" id="gravesend" shape="poly" alt="Gravesend"
                coords="91,453,120,416,158,413,165,459,158,479,140,482,128,480,119,487,104,483,92,455"
                class="{hoverImage:'images/map-brooklyn/gravesend.png',selectedImage:'images/map-brooklyn/gravesend.png',left:88,top:411}" />
        <area href="#" id="greenpoint" shape="poly" alt="Greenpoint"
                coords="170,95,172,83,168,78,178,64,192,63,204,67,213,72,216,83,226,90,236,91,242,94,245,109,232,127,217,123,198,126,169,107,172,95"
                class="{hoverImage:'images/map-brooklyn/greenpoint.png',selectedImage:'images/map-brooklyn/greenpoint.png',left:165,top:59}" />
         <area href="#" id="highlandpark" shape="poly" alt="Highland Park"
                coords="309,207,314,211,318,208,322,215,346,200,348,213,311,229,307,225,308,209"
                class="{hoverImage:'images/map-brooklyn/highland-park.png',selectedImage:'images/map-brooklyn/highland-park.png',left:304,top:198}" />
        <area href="#" id="homecrest" shape="poly" alt="Homecrest"
                coords="162,421,185,413,192,435,168,439,164,423"
                class="{hoverImage:'images/map-brooklyn/homecrest.png',selectedImage:'images/map-brooklyn/homecrest.png',left:162,top:409}" />
        <area href="#" id="kensington" shape="poly" alt="Kensington"
                coords="136,309,147,301,160,348,141,357,135,310"
                class="{hoverImage:'images/map-brooklyn/kensington.png',selectedImage:'images/map-brooklyn/kensington.png',left:134,top:299}" />
        <area href="#" id="leffertsgardens" shape="poly" alt="Lefferts Gardens"
                coords="174,267,198,267,200,283,176,285,173,271"
                class="{hoverImage:'images/map-brooklyn/lefferts-gardens.png',selectedImage:'images/map-brooklyn/lefferts-gardens.png',left:170,top:264}" />
        <area href="#" id="madison" shape="poly" alt="Madison"
                coords="188,411,205,399,210,433,195,435,188,412"
                class="{hoverImage:'images/map-brooklyn/madison.png',selectedImage:'images/map-brooklyn/madison.png',left:187,top:397}" />
        <area href="#" id="manhattanbeach" shape="poly" alt="Manhattan Beach"
                coords="189,483,194,481,194,486,208,489,230,488,232,501,192,505,187,489"
                class="{hoverImage:'images/map-brooklyn/manhattan-beach.png',selectedImage:'images/map-brooklyn/manhattan-beach.png',left:186,top:480}" />
        <area href="#" id="marinepark" shape="poly" alt="Marine Park"
                coords="208,396,216,382,220,379,252,414,249,419,243,417,224,432,216,433,207,396"
                class="{hoverImage:'images/map-brooklyn/marine-park.png',selectedImage:'images/map-brooklyn/marine-park.png',left:207,top:376}" />
        <area href="#" id="midwood" shape="poly" alt="Midwood"
                coords="144,364,162,351,162,348,175,339,180,356,202,355,220,375,214,377,208,391,164,417,162,411,149,410,143,365"
                class="{hoverImage:'images/map-brooklyn/midwood.png',selectedImage:'images/map-brooklyn/midwood.png',left:141,top:336}" />
        <area href="#" id="millbasin" shape="poly" alt="Mill Basin"
                coords="268,399,275,394,293,410,293,419,277,427,270,426,265,420,265,411,270,405,267,400"
                class="{hoverImage:'images/map-brooklyn/mill-basin.png',selectedImage:'images/map-brooklyn/mill-basin.png',left:250,top:380}" />
         <area href="#" id="newlots" shape="poly" alt="New Lots"
                coords="302,278,351,251,362,271,337,283,316,297,309,287,302,289,303,279"
                class="{hoverImage:'images/map-brooklyn/new-lots.png',selectedImage:'images/map-brooklyn/new-lots.png',left:301,top:249}" />
        <area href="#" id="oceanhill" shape="poly" alt="Ocean Hill"
                coords="264,207,294,229,264,245,266,229,264,211"
                class="{hoverImage:'images/map-brooklyn/ocean-hill.png',selectedImage:'images/map-brooklyn/ocean-hill.png',left:263,top:205}" />
        <area href="#" id="oldmillbasin" shape="poly" alt="Old Mill Basin"
                coords="231,381,258,355,262,387,266,395,250,405,231,381"
                class="{hoverImage:'images/map-brooklyn/old-mill-basin.png',selectedImage:'images/map-brooklyn/old-mill-basin.png',left:228,top:353}" />
        <area href="#" id="paedergatbasin" shape="poly" alt="Paedergat Basin"
                coords="268,350,286,331,306,355,298,360,294,365,269,350"
                class="{hoverImage:'images/map-brooklyn/paedergat-basin.png',selectedImage:'images/map-brooklyn/paedergat-basin.png',left:264,top:328}" />
        <area href="#" id="parkslope" shape="poly" alt="Park Slope"
                coords="138,211,152,239,128,279,120,267,109,259,136,211"
                class="{hoverImage:'images/map-brooklyn/park-slope.png',selectedImage:'images/map-brooklyn/park-slope.png',left:108,top:209}" />
        <area href="#" id="prospectheights" shape="poly" alt="Prospect Heights"
                coords="143,210,163,217,166,237,156,237,156,236,142,209"
                class="{hoverImage:'images/map-brooklyn/prospect-heights.png',selectedImage:'images/map-brooklyn/prospect-heights.png',left:137,top:208}" />
        <area href="#" id="redhook" shape="poly" alt="Red Hook"
                coords="75,205,92,238,92,247,85,254,80,251,73,253,71,261,60,262,56,257,54,245,56,247,60,253,66,255,66,253,65,245,61,240,54,233,52,223,74,207"
                class="{hoverImage:'images/map-brooklyn/red-hook.png',selectedImage:'images/map-brooklyn/red-hook.png',left:51,top:203}" />
        <area href="#" id="remsenvillage" shape="poly" alt="Remsen Village"
                coords="244,260,279,297,260,311,259,293,237,267,243,261"
                class="{hoverImage:'images/map-brooklyn/remsen-village.png',selectedImage:'images/map-brooklyn/remsen-village.png',left:234,top:257}" />
        <area href="#" id="seagate" shape="poly" alt="Sea Gatee"
                coords="82,487,84,509,79,504,72,507,68,501,64,502,62,497,66,497,71,493,80,487"
                class="{hoverImage:'images/map-brooklyn/sea-gate.png',selectedImage:'images/map-brooklyn/sea-gate.png',left:59,top:483}" />
         <area href="#" id="sheepsheadbay" shape="poly" alt="Sheepshead Bay"
                coords="166,445,227,435,230,467,242,480,233,483,200,479,188,482,183,474,164,477,168,462,166,445"
                class="{hoverImage:'images/map-brooklyn/sheepshead-bay.png',selectedImage:'images/map-brooklyn/sheepshead-bay.png',left:161,top:433}" />
        <area href="#" id="springcreek" shape="poly" alt="Spring Creek"
                coords="342,286,364,276,374,289,352,303,341,285"
                class="{hoverImage:'images/map-brooklyn/spring-creek.png',selectedImage:'images/map-brooklyn/spring-creek.png',left:338,top:272}" />
        <area href="#" id="starrettcity" shape="poly" alt="Starrett City"
                coords="321,303,338,289,350,310,340,323,322,302"
                class="{hoverImage:'images/map-brooklyn/starrett-city.png',selectedImage:'images/map-brooklyn/starrett-city.png',left:319,top:287}" />
        <area href="#" id="sunsetpark" shape="poly" alt="Sunset Park"
                coords="30,315,32,318,44,307,39,302,69,269,96,254,113,264,125,279,116,275,110,278,104,275,89,292,96,302,95,303,102,308,72,347,32,320"
                class="{hoverImage:'images/map-brooklyn/sunset-park.png',selectedImage:'images/map-brooklyn/sunset-park.png',left:25,top:252}" />
        <area href="#" id="williamsburg" shape="poly" alt="Williamsburg"
                coords="167,110,195,131,196,149,206,161,172,169,156,147,159,131,166,111"
                class="{hoverImage:'images/map-brooklyn/williamsburg.png',selectedImage:'images/map-brooklyn/williamsburg.png',left:151,top:102}" />
        <area href="#" id="windsorterrace" shape="poly" alt="Windsor Terrace"
                coords="129,283,134,277,144,282,147,296,134,303,134,290,130,285"
                class="{hoverImage:'images/map-brooklyn/windsor-terrace.png',selectedImage:'images/map-brooklyn/windsor-terrace.png',left:128,top:273}" />
        <area href="#" id="canarsie" shape="poly" alt="Canarsie"
                coords="261,316,298,287,300,294,305,290,316,309,326,320,344,339,333,355,335,359,331,362,324,356,318,363,312,375,297,369,307,356,306,349,286,328,282,327,265,345,266,355,260,353,262,317"
                class="{hoverImage:'images/map-brooklyn/canarsie.png',selectedImage:'images/map-brooklyn/canarsie.png',left:261,top:285}" />
       
        </map>
</div>
