﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="neighborhoodmap.ascx.cs" Inherits="Cntrls_neighborhood_neighborhoodmap" %>

<script src="js/jquery.metadata.js" type="text/javascript"></script>
<script src="js/jquery.neighborhoodmap.js" type="text/javascript"></script>
<script src="js/jquery.tooltip.js" type="text/javascript"></script>

<script type="text/javascript" language="javascript">
    $(function () {
        $('.map-container').neighborhoodmap({ width: 254, height: 507, backgroundImage: 'images/map.png' });
        $('.map-container map *').tooltip({ positionLeft: true, track: true });
        $("img.uppereastside-map").css("display", "inline");
        $("img.uppereastside-map").addClass("selected");
        $("map area#uppereastside").click();
    });
</script>
<div class="map-container corners">
        <img src="images/map/clear.png" border="0" width="254" height="507" usemap="#manhattan" alt="" class="map" />
        <map name="manhattan" id="manhattan-map">
        <area href="javascript:getNeighborhood('financialdistrict')" id="financial" shape="poly" alt="Financial District" coords="26,450,21,483,34,497,57,481,51,474,30,466,31,452" class="{hoverImage:'images/map/financial.png',selectedImage:'images/map/financial.png',left:21,top:451}" />
        <area href="javascript:getNeighborhood('tribeca')" id="tribeca" shape="poly" alt="Tribeca" coords="35,439,52,453,43,469,32,463" class="{hoverImage:'images/map/tribeca.png',selectedImage:'images/map/tribeca.png',left:29,top:437}" />
        <area href="javascript:getNeighborhood('soho')" id="soho" shape="poly" alt="Soho" coords="35,436,58,455,66,455,70,442,54,433,37,430" class="{hoverImage:'images/map/soho.png',selectedImage:'images/map/soho.png',left:30,top:428}" />
        <area href="javascript:getNeighborhood('lowereastside')" id="les" shape="poly" alt="Lower East Side" coords="46,469,54,456,67,459,73,442,110,453,103,470,60,479" class="{hoverImage:'images/map/les.png',selectedImage:'images/map/les.png',left:45,top:442}" />
        <area href="javascript:getNeighborhood('eastvillage')" id="eastvillage" shape="poly" alt="East Village" coords="85,416,75,439,110,451,115,433,116,423,113,421,108,429" class="{hoverImage:'images/map/evillage.png',selectedImage:'images/map/evillage.png',left:73,top:412}" />
        <area href="javascript:getNeighborhood('greenwichvillage')" id="greenwichvillage" shape="poly" alt="Greenwich Village" coords="39,393,82,416,73,438,55,430,36,426" class="{hoverImage:'images/map/gvillage.png',selectedImage:'images/map/gvillage.png',left:30,top:390}" />
        <area href="javascript:getNeighborhood('gramercypark')" id="gramercy" shape="poly" alt="Gramercy Park" coords="87,396,79,411,108,426,112,418,110,409" class="{hoverImage:'images/map/gramercy.png',selectedImage:'images/map/gramercy.png',left:78,top:393}" />
        <area href="javascript:getNeighborhood('chelsea')" id="chelsea" shape="poly" alt="Chelsea" coords="44,356,77,370,76,375,82,379,83,381,89,385,76,410,40,392" class="{hoverImage:'images/map/chelsea.png',selectedImage:'images/map/chelsea.png',left:34,top:351}" />
        <area href="javascript:getNeighborhood('suttonplace')" id="suttonplace" shape="poly" alt="Sutton Place" coords="131,343,126,352,130,355,136,347" class="{hoverImage:'images/map/suttonplace.png',selectedImage:'images/map/suttonplace.png',left:124,top:340}" />
        <area href="javascript:getNeighborhood('murrayhill')" id="murrayhill" shape="poly" alt="Murray Hill" coords="95,362,86,379,93,384,89,393,111,405,112,389,117,378,111,375,111,370" class="{hoverImage:'images/map/murrayhill.png',selectedImage:'images/map/murrayhill.png',left:84,top:359}" />
        <area href="javascript:getNeighborhood('midtowneast')" id="midtowneast" shape="poly" alt="Midtown East" coords="119,375,113,373,113,368,97,359,109,333,129,342,123,352,129,358,145,347,158,328,165,314,176,307,172,316,158,338,148,351,139,363,135,366,142,354,139,352,140,349" class="{hoverImage:'images/map/midtowneast.png',selectedImage:'images/map/midtowneast.png',left:93,top:305}" />
        <area href="javascript:getNeighborhood('clinton')" id="clinton" shape="poly" alt="Clinton" coords="68,310,91,322,68,363,45,352" class="{hoverImage:'images/map/clinton.png',selectedImage:'images/map/clinton.png',left:39,top:304}" />
        <area href="javascript:getNeighborhood('midtownwest')" id="midtownwest" shape="poly" alt="Midtown West" coords="93,322,108,331,83,376,79,373,80,368,71,364" class="{hoverImage:'images/map/midtownwest.png',selectedImage:'images/map/midtownwest.png',left:70,top:320}" />
        <area href="javascript:getNeighborhood('uppereastside')" id="uppereastside" shape="poly" alt="Upper East Side" coords="157,242,112,329,138,343,171,296,167,286,168,279,155,272,158,265,152,262,161,244" class="{hoverImage:'images/map/ues.png',selectedImage:'images/map/ues.png',left:107,top:241}" />
        <area href="javascript:getNeighborhood('upperwestside')" id="upperwestside" shape="poly" alt="Upper West Side" coords="133,184,117,211,70,307,92,318,145,216,142,213,147,202" class="{hoverImage:'images/map/uws.png',selectedImage:'images/map/uws.png',left:67,top:181}" />
        <area href="javascript:getNeighborhood('uppermanhattan')" id="uppermanhattan" shape="poly" alt="Upper Manhattan" coords="204,31,197,30,187,48,187,55,167,93,159,101,160,116,154,140,183,158,182,141,218,67,229,46,224,39" class="{hoverImage:'images/map/uppermanhattan.png',selectedImage:'images/map/uppermanhattan.png',left:154,top:29}" />
        <area href="javascript:getNeighborhood('harlem')" id="harlem" shape="poly" alt="Harlem" coords="152,143,184,160,185,214,194,224,195,245,183,256,179,268,170,276,159,271,161,264,155,259,164,243,142,230,149,215,145,211,152,201,137,179,138,174,136,171,142,163,144,165" class="{hoverImage:'images/map/harlem.png',selectedImage:'images/map/harlem.png',left:134,top:142}" />        
        <area href="javascript:getNeighborhood('brooklyn')" id="brooklyn" shape="poly" alt="Brooklyn" coords="64,504,68,491,100,484,109,496,119,485,133,439,136,425,134,411,148,396,175,407,180,420,199,426,212,448,218,458,252,476,243,504,245,504" class="{hoverImage:'images/map/brooklyn.png',selectedImage:'images/map/brooklyn.png',left:33,top:393}" />
        <area href="javascript:getNeighborhood('queens')" id="queens" shape="poly" alt="Queens" coords="223,434,251,442,252,264,238,258,198,295,189,294,182,303,186,312,175,321,141,376,134,394,165,393,182,403,185,411,200,418,212,430" class="{hoverImage:'images/map/queens.png',selectedImage:'images/map/queens.png',left:133,top:257}" />
        <area href="javascript:getNeighborhood('bronx')" id="bronx" shape="poly" alt="Bronx" coords="252,219,248,225,234,241,221,237,215,230,207,225,203,228,191,214,192,204,189,154,195,126,211,94,230,63,236,48,231,37,215,32,207,28,221,6,220,5,220,4,241,4,250,6" class="{hoverImage:'images/map/bronx.png',selectedImage:'images/map/bronx.png',left:189,top:0}" />

       <%-- <area href="javascript:getNeighborhood('inwood')" id="inwood" shape="poly" alt="Inwood" coords="188,51,189,43,196,30,205,29,207,38,211,41,218,36,229,38,229,47,222,64,212,77,188,53" class="{hoverImage:'images/manhattan_micromap/inwood.png',selectedImage:'images/manhattan_micromap/inwood.png',left:187,top:30}" />
        <area href="javascript:getNeighborhood('washingtonheights')" id="washingtonheights" shape="poly" alt="Washington Heights" coords="187,57,209,80,194,113,182,142,184,156,154,140,158,123,158,102,162,100,176,107,187,85,175,78" class="{hoverImage:'images/manhattan_micromap/washington-heights.png',selectedImage:'images/manhattan_micromap/washington-heights.png',left:154,top:57}" />
        <area href="javascript:getNeighborhood('hudsonheights')" id="hudsonheights" shape="poly" alt="Hudson Heights" coords="174,82,184,86,176,101,165,97,173,84" class="{hoverImage:'images/manhattan_micromap/hudson-heights.png',selectedImage:'images/manhattan_micromap/hudson-heights.png',left:165,top:82}" />
        <area href="javascript:getNeighborhood('hamiltonheights')" id="hamiltonheights" shape="poly" alt="Hamilton Heights" coords="154,144,173,153,158,181,136,171,140,163,144,161" class="{hoverImage:'images/manhattan_micromap/hamilton-heights.png',selectedImage:'images/manhattan_micromap/hamilton-heights.png',left:135,top:144}" />
        <area href="javascript:getNeighborhood('mtmorrispark')" id="mtmorrispark" shape="poly" alt="Morris Park" coords="163,207,177,214,169,225,157,219" class="{hoverImage:'images/manhattan_micromap/morris-park.png',selectedImage:'images/manhattan_micromap/morris-park.png',left:157,top:207}" />
        <area href="javascript:getNeighborhood('morningsideheights')" id="morningsideheights" shape="poly" alt="Morningside Heights" coords="116,216,133,184,147,201,142,211,146,214,139,229" class="{hoverImage:'images/manhattan_micromap/morningside-heights.png',selectedImage:'images/manhattan_micromap/morningside-heights.png',left:115,top:184}" />
        <area href="javascript:getNeighborhood('eastharlem')" id="eastharlem" shape="poly" alt="East Harlem" coords="186,190,184,212,194,224,195,247,188,253,182,261,179,267,171,276,161,270,160,261,157,257,163,243,160,238,165,228,172,231,179,211,175,209" class="{hoverImage:'images/manhattan_micromap/east-harlem.png',selectedImage:'images/manhattan_micromap/east-harlem.png',left:155,top:191}" />
        <area href="javascript:getNeighborhood('carnegiehill')" id="carnegiehill" shape="poly" alt="Carnegie Hill" coords="156,262,158,266,149,281,141,277,148,260" class="{hoverImage:'images/manhattan_micromap/carnegie-hill.png',selectedImage:'images/manhattan_micromap/carnegie-hill.png',left:140,top:260}" />
        <area href="javascript:getNeighborhood('turtlebay')" id="turtlebay" shape="poly" alt="Turtle Bay" coords="125,347,123,352,130,357,123,368,118,364,114,367,110,365,120,344,123,345" class="{hoverImage:'images/manhattan_micromap/turtle-bay.png',selectedImage:'images/manhattan_micromap/turtle-bay.png',left:110,top:345}" />
        <area href="javascript:getNeighborhood('tudorcity')" id="tudorcity" shape="poly" alt="Tudor City" coords="116,368,121,370,119,375,115,373,114,370" class="{hoverImage:'images/manhattan_micromap/tudor-city.png',selectedImage:'images/manhattan_micromap/tudor-city.png',left:114,top:368}" />
        <area href="javascript:getNeighborhood('kipsbay')" id="kipsbay" shape="poly" alt="Kips Bay" coords="113,385,112,401,107,402,89,394,92,387,95,387,100,382,101,383,104,380" class="{hoverImage:'images/manhattan_micromap/kips-bay.png',selectedImage:'images/manhattan_micromap/kips-bay.png',left:89,top:381}" />
        <area href="javascript:getNeighborhood('petercoopervillage')" id="petercoopervillage" shape="poly" alt="Peter Cooper Village" coords="103,405,109,407,110,413,101,407,101,405" class="{hoverImage:'images/manhattan_micromap/peter-cooper-village.png',selectedImage:'images/manhattan_micromap/peter-cooper-village.png',left:102,top:405}" />
        <area href="javascript:getNeighborhood('stuyvesanttown')" id="stuyvesanttown" shape="poly" alt="Stuyvesant Town" coords="100,412,111,417,107,426,96,420,98,413" class="{hoverImage:'images/manhattan_micromap/stuyvesant-town.png',selectedImage:'images/manhattan_micromap/stuyvesant-town.png',left:96,top:411}" />
        <area href="javascript:getNeighborhood('flatirondistrict')" id="flatirondistrict" shape="poly" alt="Flatiron District" coords="78,376,89,384,77,409,64,402,77,375" class="{hoverImage:'images/manhattan_micromap/flatiron-district.png',selectedImage:'images/manhattan_micromap/flatiron-district.png',left:64,top:376}" />
        <area href="javascript:getNeighborhood('westgreenwichvillage')" id="westgreenwichvillage" shape="poly" alt="W. Greenwich Village" coords="36,392,58,403,43,427,37,427,31,423,32,419,36,418,37,393" class="{hoverImage:'images/manhattan_micromap/west-greenwich-village.png',selectedImage:'images/manhattan_micromap/west-greenwich-village.png',left:31,top:392}" />
        <area href="javascript:getNeighborhood('littleitaly')" id="littleitaly" shape="poly" alt="Little Italy" coords="63,447,69,448,65,455,60,455,64,448" class="{hoverImage:'images/manhattan_micromap/little-italy.png',selectedImage:'images/manhattan_micromap/little-italy.png',left:61,top:447}" />
        <area href="javascript:getNeighborhood('chinatown')" id="chinatown" shape="poly" alt="Chinatown" coords="54,455,56,458,64,458,71,467,63,467,56,475,50,470,45,470,52,458" class="{hoverImage:'images/manhattan_micromap/chinatown.png',selectedImage:'images/manhattan_micromap/chinatown.png',left:46,top:456}" />
        <area href="javascript:getNeighborhood('rooseveltisland')" id="rooseveltisland" shape="poly" alt="Roosevelt Island" coords="136,365,144,345,161,321,174,306,173,314,137,363" class="{hoverImage:'images/manhattan_micromap/roosevelt-island.png',selectedImage:'images/manhattan_micromap/roosevelt-island.png',left:136,top:306}" />
        <area href="javascript:getNeighborhood('batteryparkcity')" id="batteryparkcity" shape="poly" alt="Battery Park City" coords="26,463,25,454,28,451,31,452,24,488,21,484,24,463" class="{hoverImage:'images/manhattan_micromap/battery-park-city.png',selectedImage:'images/manhattan_micromap/battery-park-city.png',left:22,top:451}" />
--%>
        
        </map>
</div>