﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BrokerSummary.ascx.cs" Inherits="cntrls_Details_BrokerSummary" %>
<div class="detail_titles">
    <img src="~/images/description.png" runat="server" alt="" />
</div>
<p>
    <%# data.Description %>
</p>
<div class="detail_divider"></div>
