﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Map.ascx.cs" Inherits="Cntrls_Details_Map" %>

<div id="map_canvas" style="/*width: 528px; for 2 columns layout, width:500px; for 3 columns layout*/ width:528px; height: 250px;">
</div>
