﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Paging.ascx.cs" Inherits="cntrls_Details_Paging" %>
<div class="search_result_return">
    <asp:HyperLink ID="PreviousImageButton" Text="Previous |"  runat="server" />
<%--    <asp:Literal runat="server" ID="prevDivider" Text="|" />
--%>    <asp:HyperLink ID="NextImageButton" Text="Next |" runat="server" />
    <asp:HyperLink ID="ReturnImageButton" Text="Return To List" runat="server" />
    <!--<asp:Literal runat="server" ID="nextDivider" Text="|" />-->
</div>
