﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="alllistings.aspx.cs" Inherits="alllistings" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Head" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" Runat="Server">
 <div class="result-wrapper">
        <div class="result-content-container">
        <%--<div class="featured-listings-type-container">
                <div class="open-house-title">
                    Featured Listing Type</div>
                <div style="margin: 3px 5px 0 0; float:left;">
        <%if (pType == "rent")
          {%>
                <input type="radio" id="saleRadio" value="sale" name="PropertyType" class="newPropertyType"  />
            Sale&nbsp; 
                <input type="radio" id="rentalRadio" value="rental" name="PropertyType" class="newPropertyType" checked="true" />
            Rental&nbsp;
            <%}
          else
          { %>
            
                <input type="radio" id="Radio1" value="sale" name="PropertyType" class="newPropertyType"  checked="true" />
            Sale&nbsp; 
                <input type="radio" id="Radio2" value="rental" name="PropertyType" class="newPropertyType"  />
            Rental&nbsp;
            <%} %>
            </div>
            </div>--%>
            <br />
            <br />
            <div class="result-page">
                <h2 class="titles-global" style="padding-top:0px; margin-top:-15px;">
                    All Listings</h2>
                <olr:ShortForm runat="server" ID="ShortForm1" />
               
            </div>
        </div>
    </div>
</asp:Content>

