﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="buyers_guide.aspx.cs" Inherits="buyers_guide" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Head" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="Server">
    <div class="static-pages guides">
    <div class="titles-global" style="margin-bottom:20px;">
        buyer's guide
    </div>
<%--        <span>Buyer's Guide</span> > <a href="standard_fund_requirements.aspx">Standard Fund Requirements</a> > <a href="general_closing_procedures.aspx">
            General Closing Procedures</a> > <a href="typical_questions_answered.aspx">Typical Questions Answered</a>
        <div class="page-titles-guides">
            Buyer's Guide
        </div>
        <p>
            Our Sales guide provides our New York City clients, who wish to buy quality New
            York City apartments, coops, condos or commercial properties within their budget,
            with quick and general guidelines to follow. The Sales Guide or Buyers Guide offers
            our clients with useful information about buying property. See sections on Standard
            Fund Requirements, General Closing Procedures, Typical Questions Answered, Suggested
            Mortgage Company Links and Real Estate Terms Defined.
        </p>--%>
    </div>
</asp:Content>
