﻿<%@ Page Title="" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="customer_registration.aspx.cs" Inherits="customer_registration" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
<div class="registration-page">
    <olr:CustomerRegistration ID="CustomerRegistration1" runat="server" />
</div>
</asp:Content>

