﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="newlistings.aspx.cs" Inherits="newlistings" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Head" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" Runat="Server">

<div class="result-page">
    <h2>New Sales Listings</h2>
    <olr:ShortForm runat="server" ID="ShortForm1" />
    <h2>New Rental Listings</h2>
    <olr:ShortForm runat="server" ID="ShortForm2" />
</div>


</asp:Content>

