﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="vow.aspx.cs" Inherits="vow" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Head" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" Runat="Server">
<div class="search-container">
<div class="titles-global">
</div>
<div style="width:950px; margin:0px auto;">
     <iframe src="http://netmore.olrvow.com" width="950" height="2000" scrolling="no" frameborder="0" style="background:transparent;" allowtransparency="true"></iframe>
</div>
</div>
</asp:Content>

