﻿.calendricalDatePopup {
  background: #CCC;
  border: solid 1px #999999;
  padding: 2px;
  text-align: center;
  width: 160px;
  padding:5px;}
  .calendricalDatePopup table {
    border-collapse: collapse;
    width: 160px; }
    .calendricalDatePopup table .monthCell {
      padding: 2px 0; }
      .calendricalDatePopup table .monthCell a {
        display: block;
        float: left;
        line-height: 20px;
        color:#555; }
      .calendricalDatePopup table .monthCell .prevMonth, .calendricalDatePopup table .monthCell .nextMoth {
        width: 24px; }
      .calendricalDatePopup table .monthCell .monthName {
        width: 110px; }
    .calendricalDatePopup table a {
      text-decoration: none; }
    .calendricalDatePopup table td.dayName {font-weight:bold; color:#333; font-size:11px;}
    .calendricalDatePopup table td {
      text-align: center;
      font-size: 12px;
      background-color:#F9F9F9;
      padding: 0; 
      border-top:1px solid #AAA;
      border-right:1px solid #AAA;
      border-left:1px solid #AAA;}
      .calendricalDatePopup table td a {
        display: block;
        color: black;
        padding: 2px 3px; 
        background:#F9F9F9;
        color:#333;
        font-size:11px;
        /*border-top:1px solid #AAA;
        border-right:1px solid #AAA;
        border-left:1px solid #AAA;*/}
        .calendricalDatePopup table td a:hover {
          background: #0072b9;
          opacity:0.5;
          border: none;
          padding: 2px 3px; }
      .calendricalDatePopup table td.today a {
        background: #eeeebb; }
      .calendricalDatePopup table td.selected a {
        background: #0072b9; }
      .calendricalDatePopup table td.today_selected a {
        background: #0072b9;
        color:#FFF;
        font-weight:bold;
        /*border: solid 1px #dddd66;
        padding: 1px 2px; */}
      .calendricalDatePopup table td.nonMonth a {
        color: #999999; }

.calendricalTimePopup {
  background: white;
  border: solid 1px #999999;
  width: 160px; /*110px;*/
  height: 130px;
  overflow: auto; }
  .calendricalTimePopup ul {
    margin: 0;
    padding: 0; }
    .calendricalTimePopup ul li {
      list-style: none;
      margin: 0; }
      .calendricalTimePopup ul li a, .calendricalTimePopup ul li a:visited {
        text-indent: 10px;
        padding: 4px;
        display: block;
        color: black;
        text-decoration: none; }
      .calendricalTimePopup ul li a:hover, .calendricalTimePopup ul li.selected a {
        background: #ccccff; }

.calendricalEndTimePopup {
  width: 160px; }

.calendricalDatePopup, .calendricalTimePopup, .calendricalEndTimePopup {
  /*margin-left: 0.4em*/;
  z-index: 10001;
}
