﻿
/************************
/* Base Media Viewer
*************************/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.mediaviewer {
width: 550px;
padding-bottom:10px;
/*height: 536px;
margin: 10px;
padding: 10px;*/
}

.media-nav {
list-style: none;
padding-left: 0px;
}

.media-nav li {
float: left;
padding-right: 4px;
display: block;
cursor: pointer;
}

.media-mask {
width: 550px;
height: 480px;
overflow: hidden;
position: relative;
}

.media-window {
position: absolute;
top: 0;
left: 0;
width: 2556px;
}

.media-pane {
height: 480px;
width: 550px;
position: relative;
float: left;
}

.media-slider {
height: 80px;
position: absolute;
bottom: 0;
left: 0;
}

.m-slider-mask {
    float: left;
    height: 80px;
    overflow: hidden;
    position: relative;
    width: 508px;
}

.m-slider-window {
position: absolute;
top: 0;
left: 1px;
/*width: 1190px;*/
width:2380px;
}

.m-slider-thumb {
    border: 1px solid #e2e2e2;
    background:#e2e2e2;
    float: left;
    height: 73px;
    margin: 0 9.5px 0 8.5px;
    overflow: hidden;
    position: relative;
    width: 82px;
	display: block;
}

.m-slider-thumb a {
height: 65px;
position: absolute;
text-align: center;
top: 0;
width: 100%;
}

.m-slider-thumb a img {
    height: 73px;
	border: 0px;
	max-width:82px;
}

#m-slider-left {
    /*border: 1px solid #999999;*/
    float: left;
    height: 73px;
    width: 21px;
}

#m-slider-right {
    /*border: 1px solid #999999;*/
    float: right;
    height: 73px;
    width: 21px;
}

.m-images-mask {
height: 377px;
width: 573px;
/*margin:0 12px;*/
/*padding:12px 10px;*/
position: relative;
float: left;
overflow: hidden;
/*background:#FFFFFF;*/
}

.m-images-window {
position: absolute;
top: 1px;
left: 0px;
/**width: 7668px;**/
}

.m-slide {
    float: left;
    height: 377px;
    overflow: hidden;
    position: relative;
    width: 550px;
    background:#e2e2e2;
    text-align:center;
    /*padding:13px 0;*/
    /*padding:12px 10px;*/
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
}

.m-slide a {
    /*height: 435px;*/
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    max-width:574px;
}

.m-slide a img {
    height: 376px;
	border: 0;
	width:580px;
	padding:13px 0px;
}

p.m-slide-caption {position:absolute; bottom:0px; background:url(../images/vow-transparency.png) repeat; width:96.5%; padding:10px; color:#FFF;}


/************************
/* Base Property Detail Viewer
*************************/
.detailviewer {
height: 434px;
width: 639px;
margin: 10px;
padding: 10px;
}

.detail-nav {
list-style: none;
padding-left: 0px;
}

.detail-nav li {
float: left;
padding-right: 4px;
display: block;
cursor: pointer;
}

.detail-mask {
width: 639px;
height: 426px;
overflow: hidden;
position: relative;
}

.detail-window {
position: absolute;
top: 0;
left: 0;
width: 1917px;
}

.detail-pane {
height: 426px;
width: 639px;
position: relative;
float: left;
}

.detail-description {
height: 426px;
}

.detail-slider {
height: 56px;
padding: 3px 0px;
}

.desc-language {
position: relative;
float: right;
}

.desc-language select {
margin: 1px 0px 0px 0px;
}

/**DELETE**/

.detail-slider {
background-color: blue;
}

.detail-mask {
background-color: #b0c4de;
}

.media-slider {
/*background-color: blue;*/
}

.media-mask {
background-color: #b0c4de;
}

.image {
background:url("../images/detail-slideshow-bg.png") no-repeat scroll 0 0 #FFFFFF;
}

.detailviewer .image {
background: url('http://wiki-images.enotes.com/thumb/3/3c/Fleur-de-lis-fill.svg/49px-Fleur-de-lis-fill.svg.png') repeat;
}

#m-slider-left {
background: url('../images/l-off.png');
cursor:pointer;
}

#m-slider-right {
background: url('../images/r-off.png');
cursor:pointer;
}

.m-images-window-container {width:573px; height:377px; overflow:hidden; padding:0 10px 12px;}
.m-images-window .m-slide img {border:none; height:377px; max-width:550px; padding-top:0px; cursor:auto;}

.nextimage {background:url(../images/icons/next-image.png) no-repeat; width:70px; height:30px; position:absolute; right:22px; top:30px; z-index:10; cursor:pointer; border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px;}
.previmage {background:url(../images/icons/prev-image.png) no-repeat; width:70px; height:30px; position:absolute; left:0; top:30px; z-index:10; cursor:pointer; border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0; -webkit-border-radius:0 3px 3px 0;}
.nextimage, .previmage {opacity:0; filter: alpha(opacity=0);}