﻿select.mortgage-dropdown { width:150px !important; }

.apt-amenities-checkboxes {padding:5px 0 0 14px !important;}

.browsebutton {height:23px;}

.sf-menu li {padding:10px 38px 6px;}
.sf-menu li a {padding:0;}