.map-container { width:549px; height:486px; background: url(../images/map-background.png) no-repeat; position:relative; }

#downtown { width:152px; height:244px; position:absolute; left: 62px; top: 233px; }
#downtown:hover { width:152px; height:244px; position:absolute; left: 62px; top: 233px; background: url(../images/downtown.png) no-repeat; }

#midtown-east { width:152px; height:244px; position:absolute; left: 169px; top: 195px; }
#midtown-east:hover { width:146px; height:146px; position:absolute; background: url(../images/midtown-east.png) no-repeat; left: 169px; top: 195px;} 

#midtown-west { width:103px; height:104px; position:absolute; left: 118px; top: 182px; }
#midtown-west:hover { width:103px; height:104px; position:absolute; background:url(../images/midtown-west.png) no-repeat; left: 118px; top: 182px; }

#upper-east-side { width:92px; height:151px; position:absolute; left: 221px; top: 102px; }
#upper-east-side:hover { width:92px; height:151px; position:absolute; background:url(../images/upper-east-side.png) no-repeat; left: 221px; top: 102px; }

#upper-west-side {
	width:124px;
	height:193px;
	position:absolute;
	left: 154px;
	top: 13px;
}
#upper-west-side:hover { width:124px; height:193px; position:absolute; background:url(../images/upper-west-side.png) no-repeat; left: 154px; top: 14px; }

#upper-manhattan { width:99px; height:157px; position:absolute; left: 259px; }
#upper-manhattan:hover { width:99px; height:157px; position:absolute; background:url(../images/upper-manhattan.png) no-repeat; left: 259px; }
