﻿.section dl { font-size: 12px; line-height: 125%; }
dl.floor-descriptions dt { float:left; width: 60%; margin: 0; font-weight: bold;  text-transform: uppercase; padding-bottom: 5px; }
.section dl dd { float:right; width: 65%; margin: 0; text-align: right;  padding-bottom: 5px; }
/*.building-features dt.odd {    float: left;    padding-right: 15px;    width: 75px;}
.building-features dd.odd {    float: left;       width: 95px;}

.building-features dt.even {    float: left;    padding-right: 15px;       width: 75px;}

.building-features dd.even {    float: left;      width: 95px;}
/*.even {    text-align: left;}*/

dl.floor-descriptions dt, dl.floor-descriptions dd { float: none !important; width: 100% !important; text-align: left; }



/***************************************************/
/* Search Page Controls

**************************************************/

