﻿body { font-size: 12px; font-family: Arial, Sans-Serif, Helvetica; margin: 0px; padding:5px; background:#FFF !important;}
a { text-decoration: none; }
a img { border: none; }
.overlay_container { width:400px; padding:30px; }
.overlay_title { font-family:Times New Roman; font-size:24px; color:#3399cc; }
.overlay_submit img { margin:5px 0; }
.overlay_footer_container { width:400px; }
.overlay_footer_copyright { width:427px; height:30px; background-color:#3399cc; color:#fff; padding:10px 0 0 15px; font-size:10px; }
.overlay_footer_logo { width:427px; margin:0 auto; text-align:right; }
.email_form_message textarea { width:250px; }
.email_form_subject input { width:250px; }
.email_form_textfields img { margin:0 5px; vertical-align:middle; }
.overlay fieldset { border: none; margin:0; padding:0; }
.overlay fieldset div.section { margin-bottom: 8px; }
.overlay h1.title { font-size: 16px; padding:3px; margin:5px 0 0; color: #fff; background-color: #707070; font-weight:bold; text-transform:capitalize; }
.overlay h2 { font-size: 14px; }
.overlay body, .overlay input, 
.overlay textarea, .overlay div, .overlay span { color: #666666; }
.section { position: relative; }
.section input { width:357px; /*background-color:#f0f0f0;border:1px solid #bbb; font-style:italic; color:#666; font-size:11px; padding:3px; */}
.section textarea { width:357px; height: 80px; /*background-color:#f0f0f0;border:1px solid #bbb; font-style:italic; color:#666; font-size:11px; padding:3px;*/}
.section label { position: absolute; left: 5px; top: 4px; font-style: italic; }
.section input:focus, .section textarea:focus {color:#333; font-style:normal; background-color:#fff; box-shadow:inset 0 0 6px #CFCFCF;  -moz-box-shadow:inset 0 0 6px #CFCFCF; -webkit-box-shadow:inset 0 0 6px #a1a1a1; border:1px solid #CFCFCF; padding:2px;}
.section textarea.textBox:focus {color:#333; font-style:normal; background-color:#fff; box-shadow:inset 0 0 6px #CFCFCF;  -moz-box-shadow:inset 0 0 6px #CFCFCF; -webkit-box-shadow:inset 0 0 6px #a1a1a1; border:1px solid #CFCFCF; padding:2px;}
ul { margin:0; padding: 0; }
ul li { list-style: none; }
div.footer { font-size: small; margin-top: 5px; }
div.map-container { width: 448px; overflow: hidden; }
#map_canvas { height: 320px; width: 448px; }
ul.gallery { list-style:none; padding:0; margin:0 auto; width: 400px; }
ul.gallery li { float:left; margin: 5px 0; }
ul.gallery li img { width: 400px; max-width: 400px; }
hr {background:#ccc;color:#ccc;clear:both;float:none;width:100%;height:1px;margin:0.3em 0 0.45em;border:none;}
.header { height: 50px; }

.right{float:right;}
.left{float:left;}
h2.address{font-size:14px; color:#555;}
.listing-contacts .contact .agent-thumbnail{width:130px; float:left; padding-left:10px; margin-bottom:10px;}
.listing-contacts .contact .agent-info-container{color:#555;}
.listing-contacts .contact .agent-name a, .listing-contacts .contact .agent-actions a{color:#555; font-weight:bold;}
.print-brokerinfo{margin-top:10px;}
.print-brokerinfo .listing-contacts .agent-info-container{color:#666; font-size:11px;}
.print-brokerinfo .listing-contacts .agent-thumbnail{width:55px;}
.print-brokerinfo .listing-contacts .agent-thumbnail a img{width:100%;}
.print-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -203px 0px; width:29px; height:31px;}
.print-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -203px -31px; width:29px; height:31px;}

.submit-button {background:url(../images/button-sprite.png) no-repeat; background-position: -75px -104px; width:75px; height:26px;}
.submit-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -75px -130px; width:75px; height:26px;}
.button-image img {width:100%; height:100%;} 
.button-image input {width:100%; height:100%;}

.error-message-text {font-size:9px;}
.invalid-message-text {font-size:9px; float:right; margin-bottom:8px;}

.email-form-container .error-message-text {position:absolute; top:28px;}
.email-form-container .invalid-message-text {position:absolute; top:28px; right:0;}

#calendar-icon {margin-right:2px;}
#jcalendar_container {display:none; position:absolute; z-index:100; padding:5px; background-color:#ccc; right:23px; top:0;}

/***************************************************/
/*Email Form (2)
***************************************************/
.overlay h1.email-form-title {font-size:15px; color:#555; font-weight:bold; text-transform:uppercase; margin:10px 0;}
    .email-form-container {width:430px;}
    .email-form-container .reenter-email {width:220px;}
    .email-form-container .reenter-email input {float:right;}
    .email-form-container .section {padding:0;}
    .email-form-container .section-title {margin-top:9px;}
    .email-form-container .section input {width:210px; font-size:12px;}
    .email-form-container .section .international-textbox {padding-top:15px;}
    .email-form-container .section textarea { width:420px; height:100px;}
    .email-form-container .last {margin-bottom:7px;}
    .email-form-container span.email-radio input {width:10px;}
    .email-form-container .submit {margin-top:5px;}


select.mortgage-dropdown {width: 149px;}

/***************************************************/
/*Agent Login
***************************************************/
.agent-login-container {width:350px;}
.agent-login-container div {text-align:center; margin:10px 16px 0 0;}
.agent-login-container p.span {font-weight:bold; color:Red;}
.agent-login-container .error-message-text {margin-left:15px;}

/*************************************************/
/*Docfolio Upload
*************************************************/
.popup_upload {width:300px; margin:20px auto 0;}

input {font-size:12px; font-weight:bold; font-family:Helvetica, Sans-Serif;}
input.uploadbutton {height:23px;}