﻿@import "blueprint/screen.css";

/****************************************************/
/* main layout
*****************************************************/
body {color:#747474; font-family:Helvetica, Arial, Sans-Serif; background:#707070; /*background:url("../images/footer-background.png") no-repeat scroll center bottom #707070;*/}
html, body {height: 100%; }
#wrap { width: 100%; /*min-height:60%;*/ /*min-height: 100%; margin-bottom:40px;*/ min-height:50%;}
#header { width:100%; height:170px;/*position:fixed;*/ top:0px; background:url(../images/header-main-bg.png) repeat-x; z-index:3000;}
#main { /*overflow:auto; padding-bottom: 63px;*/ padding-bottom:15px;}
#footer { position: relative; /*margin-top: -141px;*/ background:url("../images/footer-background-short.png") no-repeat scroll center top #707070; height: 170px; clear:both; padding:22px 0;} 
body:before { content:""; height:100%; float:left; width:0; margin-top:-32767px; } /*Opera Fix*/

/***************************************************/
/* Global
****************************************************/
.left {float:left;}
.right {float:right;}
.cursor {cursor:pointer;}
.relative {position:relative;}
.titles-global { padding-top:20px; margin-left:0px; font-size:18px; text-transform:uppercase; color:#283E69; letter-spacing:1px;}

.corners {border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.top-shadow {box-shadow: inset 0 0 5px #666; -moz-box-shadow: inset 0 0 5px #666; -webkit-box-shadow: inset 0 0 5px #666;}

/***************************************************/
/* Theme Set
****************************************************/
.twitter-icon {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:22px;height:20px; background-position:0px -120px;}
.facebook-icon {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:26px;height:20px; background-position:-26px -120px;}
.linkedin-icon {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:26px;height:20px; background-position:-52px -120px;}
/*.share-icon {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:21px;height:20px; background-position:-78px -120px;}*/

.agents-twitter-icon {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:26px;height:21px; background-position:0px -140px;}
.agents-facebook-icon {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:26px;height:21px; background-position:-26px -140px;}
.agents-linkedin-icon {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:26px;height:21px; background-position:-52px -140px;}

.rebny-logo {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:76px;height:27px; background-position:-261px -120px;}
.affiliates {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:68px;height:28px; background-position:-337px -120px;}
.olr-branding-new {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:162px;height:18px; background-position:-99px -120px;}
.skyline {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:176px;height:56px; background-position:0px -64px; /*position:relative; top:21px; left:85px;*/}

/***************************************************/
/*Icon Set
****************************************************/
.pdf-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: 0px 0px; width:29px; height:31px;}
.calculator-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -29px 0px; width:29px; height:31px;}
.email-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -58px 0px; width:29px; height:31px;}
.floorplan-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -87px 0px; width:29px; height:31px;}
.fullscreen-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -116px 0px; width:29px; height:31px;}
.map-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -145px 0px; width:29px; height:31px;}
.photos-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -174px 0px; width:29px; height:31px;}
.print-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -203px 0px; width:29px; height:31px;}
.share-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -232px 0px; width:29px; height:31px;}
.video-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -261px 0px; width:29px; height:31px;}
.virtualtour-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -290px 0px; width:29px; height:31px;}
.save-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -319px 0px; width:29px; height:31px;}
.saved-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -348px 0px; width:29px; height:31px;}
.scheduleappt-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -377px 0px; width:29px; height:31px;}
.school-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -406px 0px; width:29px; height:31px;}
.streetview-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -435px 0px; width:29px; height:31px;}
.yelp-icon {background:url(../images/icon-sprite.png) no-repeat; background-position: -464px 0px; width:29px; height:31px;}
 
/*.photos-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -174px -31px; width:29px; height:31px;}
.pdf-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: 0px -31px; width:29px; height:31px;}
.calculator-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -29px -31px; width:29px; height:31px;}
.email-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -58px -31px; width:29px; height:31px;}
.floorplan-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -87px -31px; width:29px; height:31px;}
.fullscreen-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -116px -31px; width:29px; height:31px;}
.map-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -145px -31px; width:29px; height:31px;}
.print-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -203px -31px; width:29px; height:31px;}
.share-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -232px -31px; width:29px; height:31px;}
.video-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -261px -31px; width:29px; height:31px;}
.virtualtour-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -290px -31px; width:29px; height:31px;}
.save-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -319px -31px; width:29px; height:31px;}
.saved-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -348px -31px; width:29px; height:31px;}
.scheduleappt-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -377px -31px; width:29px; height:31px;}
.school-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -406px -31px; width:29px; height:31px;}
.streetview-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -435px -31px; width:29px; height:31px;}
.yelp-icon:hover {background:url(../images/icon-sprite.png) no-repeat; background-position: -464px -31px; width:29px; height:31px;}*/


.st_sharethis {width:22px !important; height:20px !important; margin-left:5px;}
.stButton .sharethis {background-image:none !important;  width:22px !important; height:20px !important; margin-left:5px;}
.st_sharethis span.stButton {display:none !important;}
 
/***************************************************/
/* Button Set
****************************************************/
.go-button {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:44px;height:35px; background-position:-336px 0px;}
.go-button:hover {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:44px;height:35px; background-position:-336px -35px;}
/*.search-button {background:url(../images/button-sprite.png) no-repeat; background-position: 0px -104px; width:75px; height:26px;}
.search-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: 0px -130px; width:75px; height:26px;}
    .search-button img {height:100%; width:100%;}*/
.refine-search-button {/*background:url(../images/button-sprite.png) no-repeat; background-position: -450px -104px; width:118px; height:26px;*/ margin-top:4px;}
.refine-search-button input {margin-top:-25px !important;}
/*.refine-search-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -450px -130px; width:118px; height:26px;}*/
.button-image img {width:100%; height:100%;} 
.button-image input {width:100%; height:100%;}
.view-button {background:url(../images/button-sprite.png) no-repeat; background-position: -150px -104px; width:75px; height:26px;}
.view-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -150px -130px; width:75px; height:26px;}
.submit-button {background:url(../images/button-sprite.png) no-repeat; background-position: -75px -104px; width:75px; height:26px;}
.submit-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -75px -130px; width:75px; height:26px;}
.register-button {background:url(../images/button-sprite.png) no-repeat; background-position: -225px -104px; width:75px; height:26px;position:absolute; bottom:0; right:0; margin:0 20px 20px 0;}
.register-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -225px -130px; width:75px; height:26px;}
.more-info-button {background:url(../images/button-sprite.png) no-repeat; background-position: -612px -104px; width:147px; height:26px;}
.more-info-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -613px -130px; width:147px; height:26px;}
.contact-us-button {background:url(../images/button-sprite.png) no-repeat; background-position: -759px -104px; width:99px; height:26px;}
.contact-us-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -760px -130px; width:99px; height:26px;}
.view-website-button {background:url(../images/button-sprite.png) no-repeat; background-position: -218px -156px; width:148px; height:26px;}
.view-website-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -218px -182px; width:148px; height:26px;}
.next-button {background:url(../images/button-sprite.png) no-repeat; background-position: -859px -104px; width:22px; height:19px;}
.next-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -859px -123px; width:22px; height:19px;}
.prev-button {background:url(../images/button-sprite.png) no-repeat; background-position: -881px -104px; width:22px; height:19px; margin-right:6px;}
.prev-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -881px -123px; width:22px; height:19px;}
/*.more-options-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: 0px -156px; width:109px; height:26px; color:#FFF;}*/
.more-options-button{/*background:url(../images/button-sprite.png) no-repeat; background-position: 0px -182px; width:109px; height:26px;*/ margin-top:0px;}
.more-options-button a{text-decoration:none; color:#555;}
.sales-button {background:url(../images/button-sprite.png) no-repeat; background-position: -109px -156px; width:109px; height:22px; margin-top:20px; text-align:center; color:#fff; font-family:Helvetica; font-size:12px; font-weight:bold; text-decoration:none; padding-top:4px; margin-right:10px;}
.sales-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -109px -182px; width:109px; height:22px;}
.view-listings-button {background:url(../images/button-sprite.png) no-repeat; background-position: -366px -156px; width:189px; height:26px;}
.view-listings-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: -366px -182px; width:189px; height:26px;}
.cancel-search-button{background:url(../images/button-sprite.png) no-repeat; background-position: 0px -156px; width:109px; height:26px; color:#FFF; text-align:center; margin-top:2px; margin-right:5px;}
.cancel-search-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: 0px -182px; width:109px; height:26px; margin-top:4px;}
.cancel-search-button a {color:#FFF !important; font-size:12px; font-weight:bold; padding-top:4px; display:block;}
.cancel-search-button a:hover {color:#555;}

.short-button {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:125px;height:36px; background-position:-380px 0px; text-align:center;}
.short-button:hover {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:125px;height:36px; background-position:-380px -36px;}
.short-button span, .medium-button span {display:block; color:#FFF; font-size:17px; text-transform:uppercase; padding-top:11px; position:relative;}
.short-button img, .medium-button img {margin-top:-25px;}
.short-button input {margin-top:-25px; position:relative;}
.medium-button {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:175px;height:36px; background-position:-505px 0px; text-align:center;}
.medium-button:hover {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:175px;height:36px; background-position:-505px -36px;}
/*.medium-button a {margin-top:-25px;}*/

/****************************************************/
/* header
*****************************************************/
#header .logo {background:url(../images/theme-sprite.png) no-repeat; overflow:hidden; width:336px;height:64px; background-position:0px 0px;}
#header .container {width:950px; height:165px; margin:0 auto; position:relative; /*background:url(../images/header-background.png) repeat-y; background-position:center; */ background:url("../images/header-bar-background.png") no-repeat scroll top transparent;}
#header .menu-container { height:33px; position:absolute; bottom:0px; width:950px; /*background:url(../images/header-bar.png) repeat-x;*/ }
#header .menu-container .wrapper {width:950px; margin:0 auto;}
.vow-button {position:absolute; top:15px; left:15px;}
#header .logo-container {padding-top:35px;}

/****************************************************/
/* main content wrapper
*****************************************************/
#main { background:#fff; min-height:460px; }
/*#main div.main-wrapper {width:100%; min-height:644px;}*/
#main div.main-wrapper {width:950px; min-height:445px; margin:0 auto; padding-top:18px;}

/****************************************************/
/* default page
*****************************************************/
.main-wrapper .main-image {width:620px; height:432px; overflow:hidden;}
.main-wrapper .bottom-content {margin:0px auto 0;}
              .bottom-content .featured-col {width:320px; height:212px; border:0; background:url(../images/bottom-content-background.png) no-repeat;}
              .bottom-content .two {width:320px; height:212px; margin-top:10px;;}
                              .featured-col a {color:#747474; text-decoration:none;}
                              .open-house-col a {color:#FFF; text-decoration:none;}
                              .featured-col .home-title {font-size:18px; font-weight:800; text-transform:uppercase; color:#283e69; padding:18px 0 4px 15px; letter-spacing:1px;}
                              .featured-col .image {margin:10px 0px 10px 15px; width:130px; height:146px; text-align:center;}
                                            .image img {border:1px solid #c5c7c5; cursor:pointer;}
                              .featured-col img.preload{border:1px solid #c5c7c5; cursor:pointer; max-height:144px; max-width:128px; height:auto;}
                                            img.preload{border:1px solid #c5c7c5; cursor:pointer; height:119px; max-width:144px;}
                              .featured-col .home-info  {margin:10px 0 0 15px; width:160px; height:119px;}
                                            .home-info .header {font-size:12px; color:#fff; font-weight:bold;}
                                            .home-info .neighborhood {font-size:12px; color:#fff; font-style:normal; font-weight:bold; margin:0 0 6px 0;}
                                            .home-info .description {color:#747474;font-size:11px; line-height:14px; overflow-x:hidden; overflow-y:hidden; /*height:42px;*/ width:145px;}
                                            .home-info .button {cursor:pointer; position:absolute; bottom:0px; right:35px; bottom:15px;}
                              
                              .open-house-col .home-info {width:160px; margin-top:10px;}
                              .open-house-col .image {height:119px; margin-left:10px; text-align:center; width:119px;}
                              
              .bottom-content .col-2 {width:33%;}
              .bottom-content .open-house-col {width:305px; height:195px; border:1px solid #666; color:#fff;background:url(../images/bottom-content-background.png) no-repeat;}
                              .open-house-col .title {font-size:18px; font-weight:800; text-transform:lowercase; color:#fff; margin:5px 0 0 15px;}
                              .open-house-col .image img{max-width:117px; max-height:119px; margin:10px;}
                              .open-house-col .radio{font-weight:bold; right:50px; position:relative; margin-top:9px;}
                              .open-house-col .right-info{width:175px; margin-right:8px;}
                              .open-house-col .right-info .view-button{position:absolute; right:15px; bottom:15px;}
                              .open-house-col .rent .image, .open-house-col .sale .image{position:absolute; top:33px; width:129px; text-align:center;}
                              .open-house-col .description{width:158px;}
                              
.featured-col .home-featured-button{right:15px; position:absolute; top:10px;}
.main-wrapper .quick-search-wrapper{width:950px; height:77px; margin:15px auto;  background:url(../images/simple-search-background.png) no-repeat;}
.main-wrapper .quick-search-wrapper .quick-search-col .quick-search-container {margin-top:10px; width:900px;}
                                    .quick-search-col{padding:8px 0 0 15px;}
                                    .quick-search-col .quick-search-input-col {width:62.5%;}
                                    .quick-search-col .price-col {width:35%; margin-top:-10px;}
                                    .quick-search-col .quick-search-input-col #pricerange {/*width:47%;*/}
                                                      .quick-search-input-col .minprice{margin-right:13px; margin-left:2px;}
                                    .quick-search-col .quick-search-input-col input {cursor:pointer;}
                                                      .quick-search-input-col .radio{color:#fff; font-weight:bold; margin-top:-4px;}
                                                      .quick-search-input-col div {height:32px; margin-right:10px;}
                                                      .quick-search-input-col .drop-down-last{margin:0px;}
                                                      .quick-search-input-col .drop-down, .quick-search-input-col .drop-down-last{margin-top:-10px;}
                                                      .quick-search-input-col select {height:20px; width:125px; padding:2px 0 0 5px; background:url(../images/quick-search-background.png) repeat-x; border:1px solid #c5c7c5; font-size:11px; /*font-style:italic;*/ color:#666;}
                                                      .title{color:#2A406D; font-weight:bold; font-size:12px; text-transform:capitalize; font-weight:bold;}
                                    .quick-search-col .button {cursor:pointer; position:absolute; bottom:9px; right:20px; margin-right:0px !important;}

.main-wrapper .top-slide-wrapper {}
.main-wrapper .mask {width:950px; height:250px; margin:20px auto 10px; overflow:hidden;}                              
.main-wrapper .mask .slides-window {width:200%; height:250px;}
.main-wrapper .mask .slides-window .featured-property-container {margin-right:25px;}
.main-wrapper .mask .slides-window img {width:300px; height:250px; }

/****************************************************/
/* search form
*****************************************************/
.quick_search { margin-top:0px; width:260px; height: 47px; }
.quick_search_input {height:26px; }
.quick_search_input input { background:#fff; vertical-align: middle; font-family: Helvetica; border:1px solid #B8B7B7; /*background:url(../images/quick-search-background.png) repeat-x;*/ font-size: 10px; color: #747474; font-style:normal; padding:8px 3px 8px 6px; width: 200px; height:17px; margin:0; box-shadow:0 0 12px #C8C8C8 inset; -mox-box-shadow:0 0 12px #C8C8C8 inset; -webkit-box-shadow:0 0 12px #C8C8C8 inset;}
.quick_search_button { float:right; }
.quick_search_button img { vertical-align:middle; }
.search-container { padding:0px 0 20px; width:950px; margin:0 auto; /*padding:0px 0 100px;*/ font-size:11px; }
.map-view-container { width: 254px; overflow:hidden; position: relative; margin-top:20px; margin-right:0px; }
.search-type-toggle { position: absolute; z-index:35; top: 5px; left:10px; color:#605f5f; }
.search-type-toggle input {color:#555555;}
.map-container { margin-left: 0; }
.search-container h2 { font-size: 12px; text-transform:uppercase; margin-bottom: 0.1em; color: #636363; }
.search-container label { font-weight: normal; position:relative; bottom:2px;}
.section { padding-bottom: 20px; }
.apt-features ul li { float:left; width: 50%; }
.bldg-features ul li { float:left; width: 50%; }
.ownership ul li { float:left; }
.search-container .col1 { width: 23%; }
.search-container .col2 { width: 24%; }
.search-container .col3 { width: 24%; }
.search-container .col4 { width: 25%; }
.quick-search-container .minbeds { color:#666; width:135px; padding:2px 0 0 5px; border:1px solid #c5c7c5; font-size:11px; margin-right:0px;}
.minbeds { color:#666; width:135px; padding:2px 0 0 5px; border:1px solid #c5c7c5; font-size:11px; margin-right:15px;}
.minbaths { color:#666; width:135px; padding:2px 0 0 5px; border:1px solid #c5c7c5; font-size:11px;}
.minprice { color:#666; width:135px; padding:2px 0 0 5px; border:1px solid #c5c7c5; font-size:11px; margin-right:15px;}
.maxprice { color:#666; width:135px; padding:2px 0 0 5px; border:1px solid #c5c7c5; font-size:11px;}
.criteria {width:670px; margin-top:20px;}
.location-container {background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent; position:relative; width:640px; padding-left:20px; padding-top:18px;}
.location-container .search-button {position:relative; float:right; bottom:20px; right:20px;}
.location-container .section .column ul.neighborhoods-macro li{display:inline;}
.feature-container {background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent; width:302px; padding-left:20px; padding-top:18px; padding-bottom:12px; margin:12px 0;}
.neighborhood-col {width:23.8%;}
.apt-features {margin-bottom:50px;}

.vow-counter {width:200px; position:absolute; bottom:18px; left:200px; font-size:16px;}
.vow-counter span {font-weight:bold;}

.all-checkbox-title label {font-weight:bold;}

/*****************************************************/
/*Brooklyn Search form
*****************************************************/
.brooklyn-search-container .criteria {width:497px;}
.brooklyn-search-container .location-container {width:475px; padding-left:15px;}
.brooklyn-search-container .map-view-container {width:439px; height:550px; border:1px solid #D5D5D5;}
.brooklyn-search-container .column {width:33%; margin-right:0;}
.brooklyn-search-container .ownership .col1, .brooklyn-search-container .ownership .col2, .brooklyn-search-container .ownership .col3, .brooklyn-search-container .ownership .col4 {width:33%;}
.brooklyn-search-container .feature-container {width:223px; padding-left:15px;}
.brooklyn-search-container .minbeds, .brooklyn-search-container .minbaths, .brooklyn-search-container .minprice, .brooklyn-search-container .maxprice {width:45% !important; margin-right:10px; padding:2px 0 0 3px;}
.brooklyn-search-container .bldg-features {width:100%;}
.brooklyn-search-container .apt-features {width:100%; margin-bottom:30px;}
.brooklyn-search-container .bldg-features ul li, .brooklyn-search-container .apt-features ul li {width:33%;}
.brooklyn-search-container .location-container .vow-counter {left:20px;}
.brooklyn-search-container .search-type-toggle { position: absolute; z-index:35; top: 5px; left:310px; color:#605f5f; }

/****************************************************/
/*Queens Search form
*****************************************************/
.queens-search-container .criteria {width:497px;}
.queens-search-container .map-view-container {width:435px; height:563px; border:1px solid #D5D5D5;}
.queens-search-container .location-container {width:475px; padding-left:15px;}
.queens-search-container .column {width:33%; margin-right:0;}
.queens-search-container .ownership .col1, .queens-search-container .ownership .col2, .queens-search-container .ownership .col3, .queens-search-container .ownership .col4 {width:33%;}
.queens-search-container .feature-container {width:223px; padding-left:15px;}
.queens-search-container .minbeds, .queens-search-container .minbaths, .queens-search-container .minprice, .queens-search-container .maxprice {width:45%; margin-right:10px; padding:2px 0 0 3px;}
.queens-search-container .bldg-features {width:100%;}
.queens-search-container .apt-features {width:100%; margin-bottom:30px;}
.queens-search-container .bldg-features ul li, .queens-search-container .apt-features ul li {width:33%;}
.queens-search-container .location-container .vow-counter {left:20px;}
.queens-search-container .search-type-toggle { position: absolute; z-index:35; top: 5px; left:310px; color:#605f5f; }


/****************************************************/
/*agent Search page
*****************************************************/
.search_agent_face {width: 850px; margin: 20px auto;}
.search_agent_face img {border:1px solid #000;}
.search_agent_thumb {width: 105px; /*float: left;*/ position: relative; top: 0px; left: 0px; border:1px solid #000;}
.agent-photos {width:3000px; position:absolute; top:0px; left:0px; }
.agent-thumbs {width:105px; height:147px; float:left; margin-right:13px;}
.agent-thumbs img {width:105px; height:147px; border:1px soild #000; cursor:pointer; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
.search_agent_info_overlay {width: 103px; position: absolute; bottom: 50px; background-color: #000; height: 39px;}
.video_agent_info_overlay {width: 40px; position: absolute; bottom: 50px; background-color: #000; height: 39px;}
.search_agent_info_name {color: #fff; font-size: 12px; font-weight: bold; margin: 5px 0 0px 0x;}
.search_agent_info_number {color: #A8C5EB; font-size: 10px; font-weight: bold; margin: 0 0 0 0px;}
.search_agent_thumb img {border: 1px solid #A8C5EB;}
.search_agent_name {margin: 10px 0;}
.search_agent_name table {width: 745px; margin: 10px auto;}
.search_agent_input {border: 1px solid #A8C5EB; font-size: 11px;}
.agent_header{width: 100%; background-color: #000; height: 35px;}
.search_agent_language {margin: 10px 0;}
.search_agent_language table {width: 745px; margin: 10px auto;}
.search_agent_language_select {width: 150px; border: 1px solid #A8C5EB; font-size: 11px;}
.agent_header img {margin: 5px 10px;}

/****************************************************/
/* common css
*****************************************************/
ul { margin:0; padding:0; }
ul li { list-style: none; margin:0; padding:0; }
.pagination { text-align: right; padding: 20px 0 5px 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; margin-bottom: 5px; }
.pagination a { margin: 0 5px 0 0; padding: 3px 6px; }
.pagination a.number { border: 1px solid #ddd; }
.pagination a.current { background: #469400; border-color: #459300 !important; color: #fff !important; }
.pagination a.current:hover { text-decoration: underline; }
.nowrap { white-space: nowrap; }

/****************************************************/
/* listing result > shortform (horizontal display)
*****************************************************/
.result-page {width:950px; margin:0 auto; padding:20px 0 5px;}
.column-photo { float:left; width: 16%; }
.column-location { float:left; width: 24%; padding-top: 15px; }
.column-size { float:left;  width: 19%; padding-top: 15px; }
.column-amenities { float:left;  width: 18%; padding-top: 15px; }
.column-price { float:left;  width: 19%; padding-top: 15px; }
.column-openhouse { position: absolute; left: 15%; bottom: 18px; }
.column-tools { position: absolute; right: 10px; top: 3px; }
.column-tools a { color: #666666; font-style: normal; }
.column-location .viewlisting { margin-top: 10px; }
.column-price dt { float: left; width:35%; }
.column-price dd { float: left; width:64%; margin-left:0; }
.photo-thumb { width: 142px; height: 112px;  overflow: hidden; margin:0 0 12px 12px; }
.photo-thumb-border { width:140px; height:110px; overflow: hidden; text-align:center;  }
.photo-thumb img { height: 108px; margin:0 auto; }
.withcontact .column-photo { float:left; width: 17%; margin-top:15px;}/*width:15%*/
.withcontact .column-location { float:left; width: 20%; margin-left:8px; }/*width:22%*/
.withcontact .column-size { float:left;  width: 14%; }
.withcontact .column-amenities { float:left;  width: 14%; }
.withcontact .column-price { float:left;  width: 16%; }
.withcontact .column-contact { float:left; width:16%; }
.withcontact .column-openhouse { position: absolute; left: 15%; bottom: 18px; }
.column-contact a {color:#666666; font-weight:bold; text-decoration:none;}
.result_address_title a {color:#2A406D; text-decoration:none; font-weight:bold;}
.result-container { margin-top: 10px; }
.result-body { padding: 0; position: relative; }
.result-body { background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent ;  color: #666; font-size:11px; margin:0 auto 16px auto;}/*height:160px;*/
.result-body .column-contact {margin-left:-24px; }
.result-body .column-contact .contact {width:165px; margin:12px 0 16px 25px;}
.result-header { color:#fff; background:#707070;  height:32px; margin:0 auto 16px auto; width:950px; }
.result-header > div { padding-top: 5px; font-weight: bold;  }
.result-header a { color: #ffffff; font-style: normal; text-decoration:none; }
.result-body dt { float: left; }
.result-body dd { float: left; margin-left:0; }
.idx-logo { margin-top: 20px; }
span.openhouse {font-weight:bold; color:#dd5931;}

/***************************************************************************/

/****************************************************/
/* listing result > shortform (vertical display)
*****************************************************/
/*.result-page {width:950px; margin:0 auto; padding:0px 0 70px;}
.column-photo { float:left; width: 16%; }
.column-location {padding-top: 15px; }
.column-location .open-house-container{margin-bottom:15px;}
.column-size {}
.column-amenities {}
.column-price {padding-top: 7px; }
.column-openhouse { position: absolute; left: 15%; bottom: 18px; }
.column-tools { position: absolute; right: 10px; top: 3px; }
.column-tools a { color: #666666; font-style: normal; }
.column-location .viewlisting { margin-top: 10px; }
.column-price dt { float: left; width:35%; }
.column-price dd { float: left; width:64%; margin-left:0; }
.photo-thumb { width: 100%; height: 170px;  overflow: hidden; margin-bottom:10px;}
.photo-thumb-border { width:140px; overflow: hidden; text-align:center; width:286px; }
.photo-thumb img {margin:0 auto;}
.photo-thumb img.preload{max-width:none; max-height:210px; height:auto; width:100%;}
.withcontact .column-photo { float:left; width: 100%;}
.withcontact .column-location { margin-left:8px; }
.withcontact .column-size {padding-left:8px; margin-top:-15px;}
.withcontact .column-amenities{padding-left:8px; padding-top:7px;}
.withcontact .column-price {padding-left:8px; height:53px;}
.withcontact .column-contact {width:16%;}
.withcontact .column-contact .contact{margin:0; padding-left:8px;}
.withcontact .column-openhouse { position: absolute; left: 15%; bottom: 18px; }
.column-contact a {color:#666666; font-weight:bold; text-decoration:none;}
.result_address_title a {color:#605f5f; text-decoration:none; font-weight:bold;}
.result-container { margin-top: 10px; }
.result-body { padding: 0; position: relative; }
.result-body { background:#f7f7f9; color: #666; font-size:11px; border:1px solid #d5d5d5; margin:0 4px 10px; width:286px; float:left; height:525px; padding:10px;}
.result-body .column-contact {}
.result-header { color:#fff; background:url(../images/result-header.png) no-repeat;  height:32px; margin:0 auto 16px auto; width:950px; }
.result-header > div { padding-top: 5px; font-weight: bold;  }
.result-header a { color: #ffffff; font-style: normal; text-decoration:none; }
.result-body dt { float: left; }
.result-body dd { float: left; margin-left:0; }
.idx-logo { margin-top: 20px; }
span.openhouse {font-weight:bold; color:#dd5931;}*/

/****************************************************/
/* sort buttons
*****************************************************/
.result-header .sort { padding:0; margin:0; }
.result-header .desc { background: transparent url(../images/icons/up.png) no-repeat 36px 50%; }
.result-header .asc { background: transparent url(../images/icons/down.png) no-repeat 36px 60%; }
.column-size .sort { background-position: 30px }
.column-location .sort { background-position: 55px }

/****************************************************/
/* refine search **
*****************************************************/
.refine-search-container {padding: 2px 0 6px 9px; width:940px; font-size: 11px; color:#666; background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent; margin-top:0px; }
.search-price img, .search-size img { display: none; }
.refine-search-container select { font-size: 11px; padding: 3px; color:#666; text-transform:none; height:24px; width:111px;  margin-right:10px;}
.padding-container { padding: 5px; }
.refine-label { padding-top: 7px; font-size: 13px; }
.refine-label {color:#2A406D; text-transform:uppercase; font-size:14px; margin-right: 10px; padding-top:11px;}
.search-price, .search-size, .search-button {color:#3b4c60; text-transform:uppercase; font-size:14px; margin-right: 0px; }
.search-price, .search-size { padding-top: 3px; }
.more-button { margin-right:15px; text-align:center;}
.more-button a { color: #fff; font-style: normal; font-size:17px; display:block; width:100%; height:100%; padding-top:11px; text-transform:uppercase;}
.more-button a:hover{color:#FFF;}
.more-button span.font {padding-top:7px;}
div.refine-search-options div.search-button { margin-top:1px; }
div.refine-search-options div.search-size { margin-top:1px !important; }
div.refine-search-options div.search-price { margin-top:1px !important; }
#more-search-options { margin:0 0 0 115px; }
#more-search-options img { margin-bottom: 5px; }
.text-label { display: none; }
#more-search-options .text-label { display: block; font-size:12px; color:#666; margin: 10px 0 5px 0;}
#more-search-options img { display: none; }
#more-search-options .neighborhood { margin-bottom:20px; padding-left:8px;}
#more-search-options .apt-features {padding-left:8px;}
#more-search-options .horizontal_spacer { width:951px; margin-bottom:10px; height:16px; margin-left:-130px; border-bottom:1px solid #dddddd; border-top:1px solid #dddddd; background-color:#fff; }
#more-search-options .column-onethird { width:32% !important; }
#more-search-options label{position:relative; bottom:2px;}
.neighborhood-label { padding: 4px 0 4px; }
ul.apartmentfeatures { list-style: none; }
input.gobutton { margin-top: 6px; }
.page-titles { font-size:14px; font-weight:bold; margin-bottom:10px; color:#283E69;}
.refine-col { width:301px;}
.refine-col li {float:left; margin-right:20px;}
.ownership .col1 { width: 24.6%; }
.ownership .col2 { width: 24.6%; }
.ownership .col3 { width: 24.5%; }
.ownership .col4 { width: 17%; }
.ownership-refine input[type=checkbox] {margin-right:10px; float:left;}

.refine-search-container .ownership .col1 { width: 24.3%; }
.refine-search-container .ownership .col2 { width: 24.5%; }
.refine-search-container .ownership .col3 { width: 24.4%; }
.refine-search-container .ownership .col4 { width: 17%; }
.refine-search-container .ownership-refine input[type=checkbox] {margin-right:10px; float:left;}
a#moreoptions .more-options-button span{text-decoration:none;}
#more-search-options .span-25{width:375px;}
.refine-search-container .medium-button {margin-top:4px;}

/***********************************************/
/* Listing Result Page
************************************************/
.refine_search_container { float: right; height: 27px; margin:10px 30px 0 0;}
div.refine_search_container div{ float: left; margin-right: 5px; }
div.refine_search_container div select { width: 100px; vertical-align: middle; margin-top: 3px; }
div.refine_search_container div img { vertical-align: middle; }
.openhouse_search_container { float: right; height: 27px; margin:15px 0px 0 0;}
div.openhouse_search_container div { float: left; margin-right: 5px; }
.recenttransaction_search_container { float: right; height: 27px; margin:13px 0px 0 0;}
div.recenttransaction_search_container div { float: left; margin-right: 5px; }
.paging_container { width: 90%; background-color:#ffffff; border: 1px solid #cccccc; padding: 5px; vertical-align: middle; margin-bottom: 10px; margin:10px auto; }
.matches { float: left; }
.pages { float: right; }
.refine_search_title { margin-top: 3px; font-size: 16px; /*font-weight:bold;*/ color: #999999; letter-spacing: -1px; padding-right: 10px; }
.refine_search_text { margin-top: 6px; }
.listing_result_container { /*width:793px;*/ margin:0 auto 10px; width: 90%; }
div.listing_result_container table { width: 100%; border-bottom: 1px solid #cccccc; font-weight: bold; font-size: 13px; padding-bottom: 6px; }
.listing_row_even { background-color: #edebec; width: 90%; margin:0 auto; }
.listing_row_even table { width: 100%; }
.vertical_border { border-right: 1px solid #ccc; }
.result_thumb img { margin: 10px; }
.listing_row_odd { background-color: #ffffff; width: 90%; margin:0 auto; }
.listing_row_odd table { width: 100%; }
.result_address { font-size: 12px; font-weight: bold; }
.result_ID { margin: 10px 0; }
.result_open_house { color: #dc5f1f; font-weight: bold; }
.result_price_amount { text-align: right !important; }
.result_table table { width: 85%; margin: 0 auto; }
.result_table table td { text-align: left; }
.result_table table td + td { text-align: right; }
.result_divider { border-bottom: 1px solid #cccccc; height: 1px; margin: 10px auto; width: 90%; }
.no-results { font-size:14px; font-weight:bold; padding:50px 0 20px; text-align:center; width:100%; color:#666; }
.open-house-title{ font-size: 14px; float:left; /*font-weight:bold;*/ color: #555; letter-spacing: -1px; padding-top:2px; padding-right: 10px;}
.featured-listings-type-container{margin:25px 0px 0 0; float:right;}
.recent-transaction-title{ font-size: 14px; float:left; /*font-weight:bold;*/ color: #555; letter-spacing: -1px; padding-top:4px; padding-right: 10px;}

/****************************************************/
/* Open House Page
*****************************************************/
.open-house-page .result-container {margin:0; padding-top:20px;}

/****************************************************/
/* Page Navigation
*****************************************************/
div.pagenav { margin: 10px 0 15px; height:36px; clear: both; }
div.pagenav .current, div.pagenav .pagelink { padding: 3px 5px; }
div.pagenav .pagenav_prev { float:left; width: 14%; padding-left: 2px; padding-top:5px; }
div.pagenav .pagenav_middle { float:left; text-align:center; width: 70%; vertical-align:baseline; padding-top: 5px; }
div.pagenav .pagenav_next { float:right; width: 14%; text-align: right; padding-right: 2px; padding-top:5px; }
div.pagenav a { font-style: normal; }
span.nextpage { padding-right:10px; }
span.prevpage { padding-left:8px; }

/****************************************************/
/* photo viewer - 2 column layout
*****************************************************/
.ad-gallery .ad-image-frame { background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent; margin-bottom: 8px; width:547px;  height: 373px;}
.ad-gallery { width: 547px; }
.ad-gallery .ad-image-frame {}
.ad-gallery .ad-image-wrapper { height: 373px; }
.ad-gallery .ad-image-frame .default {}
.ad-thumb-list li { width: 129px; margin-bottom: 6px; /*padding-right: 10px !important;*/ margin:3.8px; background:#e1e1e1;}
.ad-thumb-list img { margin-left:auto; margin-right:auto; height: 90px !important; border:none !important; max-width:129px;}
.ad-gallery .ad-thumbs .ad-thumb-list { width: 547px !important; }
.ad-thumb-list li.last { padding-right:0px !important; }


/****************************************************/
/* photo viewer - 3 column layout
*****************************************************/
/*.ad-gallery .ad-image-frame { border:1px solid #ccc; background-color: #F7F7F9; margin-bottom: 8px; width:500px;  height: 330px;}
.ad-gallery { width: 500px; }
.ad-gallery .ad-image-frame {}
.ad-gallery .ad-image-wrapper { height: 330px; }
.ad-gallery .ad-image-frame .default {}
.ad-thumb-list li { width: 118px; margin-bottom: 6px; /*padding-right: 10px !important;*/ /*margin:3.5px; background:#E0E0E0;}
.ad-thumb-list img { margin-left:auto; margin-right:auto; height: 90px !important; border:none !important; max-width:118px;}
.ad-gallery .ad-thumbs .ad-thumb-list { width: 500px !important; }
.ad-thumb-list li.last { padding-right:0px !important; }*/

/****************************************************/
/* detail page - 2 columns layout
*****************************************************/
.detail-page { width:950px; margin:0 auto; padding:0px 0 10px; }
.detail-toolbar li { float: left; margin-right: 5px; }
.section dl { width:310px; margin:12px 0 0 20px; }
.section dt { clear:right; float:left; /*width:45%;*/ width:35%; }
.listing-details .detail-container .section dl.building-features dt.odd {float:right; width:50%;}
.listing-details .detail-container .section dl.building-features dt.even {width:50%;}
.listing-details .detail-container .section dl.expense-details dt {width:50%;}
.listing-details .detail-container .section dl.expense-details dd {width:50%;}
.section dd { float: right; text-align:right; /*width:50% !important;*/ width:65%; margin-left:0; }
.section h2 { border-bottom: 1px solid #efefef;}
.contact-details { padding-left: 20px; }
.image-viewer {width: 550px;}
.listing-details {width:350px;}
.toolbar-space {margin:12px 0 20px;} 
.top-detail {padding:12px 0;}
.cross-streets {font-size:14px;}
.detail-container {background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent; border:1px solid #e1e1e1; margin-bottom:16px; font-size:12px !important;}
.detail-container .page-titles { font-size:14px; font-weight:bold; color:#283E69; text-transform:uppercase; margin:18px 0 0 20px;}
.detail-paging {margin:4px 0 0; text-align:right;}
.detail-paging a {font-size:11px; font-weight:bold; text-transform:uppercase; text-decoration:none; color:#666666;}
.contact {width:305px; margin:12px 0 16px 25px;}
.contact .agent-thumbnail{width:120px;}
.contact a {color:#2A406D; font-weight:bold; text-decoration:none;}
.contact img {border:solid 1px #d5d5d5; max-width:120px;}
.agent-actions {margin:26px 0 0;}
.agent-actions a {color:#666666; text-decoration:none; line-height:14px; font-weight:normal;}
.agent-actions a.email-me {color:#283e69; font-weight:bold;}
#map_canvas { height: 320px; width: 547px; }
.name-column{width:680px;}
.name-column h2.display-address {color:#283E69;}
.name-column .buidlingname {font-weight:bold; color:#78d4f4; font-size:14px;}
.detail-pager h2.webid{/*float:right;*/ color:#283E69;}
ul.detail-toolbar{width:100%;}
    ul.detail-toolbar li{width:29px; float:left;}
.layout-detail{margin-bottom:20px;}
ul.recent-list{margin-bottom:20px;}
ul.recent-list li{/*margin:0 10px 10px 0; padding-right:5px; padding-bottom:15px;*/ height:180px; width:200px;}
ul.recent-list li .item-address{font-weight:bold; text-align:center;}
ul.recent-list li .item-info{text-align:center;}
/*.detail-page .streetview-wrapper{margin-top:20px; height:248px; background-color:#fff; width:550px;}
.detail-page .streetview-wrapper .streetview-container{border:1px solid #ccc; background-color:#f7f7f9; padding:10px;}*/

/*.detail-page .streetview-wrapper*/ .streetview-container{/*border:1px solid #ccc;*/ background-color:#f7f7f9; height:250px; width:550px;}
/*.detail-page .streetview-wrapper*/ .streetview-container .detail-street-view-window {height:250px; width:550px;}


.detail-page .recentlyviewed-container{background-color:#f7f7f9; border:1px solid #d5d5d5; width:200px; height:210px; padding:12px; margin:0 11px 11px 0;}
.detail-page .recentlyviewed-container .item-photo{width:200px; background-color:#e0e0e0; margin-bottom:5px; height:121px; text-align:center;}
.detail-page .recentlyviewed-container .item-photo img.preload{height:119px; max-width:none;}
.detail-page .recentlyviewed-container .item-photo a{}
.detail-page .top .nav a{color:#283E69; text-decoration:none;}
.detail-page .poi-container{width:528px; padding:10px; height:250px; background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent;}
.detail-page .poi-container .map-container-detail{width:550px; float:left;}
.detail-page .poi-container .yelp-container{float:left; width:515px; height:240px; background-color:#efeeee; padding-left:15px; padding-top:12px;}
#yelp-searchbox{width:530px;}
#yelp-searchbox ul.yelp li{display:inline;}
#yelp-searchbox ul.yelp li a{text-decoration:none; font-weight:bold; color:#707070; margin-right:50px;}
ul.yelp{width:520px; margin-bottom:10px;}
#yelp-searchbox #shopping td a{text-decoration:none; color:#555; }
#yelp-searchbox #shopping table.reviews tbody tr td{width:300px; font-size:11px; border-bottom:1px solid #f7f7f9; padding:3px 0;}
#yelp-searchbox #shopping table.reviews tbody tr{height:20px;}
.scroll-container{overflow:hidden; position:relative; height:250px;}
.scroll-container .scroll{left:0; position:absolute; top:0; width:1000em;}
.afshowAll, .afshowAll:hover {color:#2A406D;}
.afshow10, .afshow10:hover {color:#2A406D;}
.bfshowAll, .bfshowAll:hover {color:#2A406D;}
.bfshow10, .bfshow10:hover {color:#2A406D;}

.detail-highlight {color:Red;}

/****************************************************/
/* detail page - 3 columns layout
*****************************************************/
/*.detail-page { width:1050px; margin:0 auto; padding:0px 0 40px; }
.detail-page .page-titles {border-bottom:1px solid #999; margin-bottom:15px;}
.detail-toolbar li { float: left; margin-right: 5px; }
.section dl { width:305px; margin:12px 0 0 0; }
.section dt { clear:right; float:left; width:35%; }
.listing-details .detail-container .section dl.building-features dt.odd {float:right; width:50%;}
.listing-details .detail-container .section dl.building-features dt.even {width:50%;}
.section dd { float: right; text-align:right; width:50%; margin-left:0; }
.section dl.property-details dd {width:65%;} 
.section h2 { border-bottom: 1px solid #efefef;}
.contact-details { padding-left: 20px; }
.image-viewer {width: 500px; margin-right:17px;}
.listing-details {width:305px; margin-left:15px;}
.detail-contact {width:180px;}
.detail-contact .detail-container {background-color:#f7f7f9; border:1px solid #d5d5d5; margin-bottom:16px; font-size:12px !important;}
.toolbar-space {margin:12px 0;} 
.top-detail {margin:12px 0;}
.cross-streets {font-size:14px;}
.detail-container {*/  /*background-color:#f7f7f9; border:1px solid #d5d5d5;*/ /*margin-bottom:16px; font-size:12px !important;}
.listing-details .page-titles { font-size:14px; font-weight:bold; color:#605f5f; text-transform:uppercase; border-bottom:1px solid #999; margin-bottom:15px;}
.detail-paging {margin:4px 0 0; text-align:right;}
.detail-paging a {font-size:11px; font-weight:bold; text-transform:uppercase; text-decoration:none; color:#666666;}
.detail-contact .detail-container {padding:7px 13px;}
.contact {/*width:265px;*/}
/*.contact .agent-thumbnail{*/  /*width:95px;*/ /*margin:5px 0;}
.contact a {color:#605f5f; font-weight:bold; text-decoration:none;}
.contact img {border:solid 1px #d5d5d5; width:150px; height:150px;}
.agent-actions {margin:10px 0 0;}
.agent-actions a {color:#666666; text-decoration:none; line-height:14px; font-weight:normal;}
#map_canvas { height: 320px; width: 500px; }
.name-column{width:750px;}
.detail-pager {width:220px;}
.detail-pager h2.webid{float:right;}
ul.detail-toolbar{width:100%;}
    ul.detail-toolbar li{width:29px; float:left;}
.layout-detail{margin-bottom:20px;}
ul.recent-list{margin-bottom:20px;}
ul.recent-list li{*/  /*margin:0 10px 10px 0; padding-right:5px; padding-bottom:15px;*/ /*height:180px; width:170px;}
ul.recent-list li .item-address{font-weight:bold; text-align:center; font-size:11px;}
ul.recent-list li .item-info{text-align:center;}
.detail-page .streetview-wrapper{margin-top:20px; height:248px; background-color:#fff; width:420px;}
.detail-page .streetview-wrapper .streetview-container{border:1px solid #ccc; background-color:#f7f7f9; padding:10px;}

.detail-page .recentlyviewed-container{background-color:#f7f7f9; border:1px solid #d5d5d5; width:170px; height:210px; padding:12px; margin:0 14px 14px 0;}
.detail-page .recentlyviewed-container .item-photo{width:170px; background-color:#e0e0e0; margin-bottom:5px; height:121px; text-align:center;}
.detail-page .recentlyviewed-container .item-photo img.preload{height:119px; max-width:170px;}
.detail-page .recentlyviewed-container .item-photo a{}
.detail-page .top .nav a{color:#555; text-decoration:none;}
.detail-page .poi-container{width:500px; height:250px;}
.detail-page .poi-container .map-container-detail{width:550px; float:left;}
.detail-page .poi-container .yelp-container{float:left; width:500px; height:240px; background-color:#e8e8e8; padding-left:15px; padding-top:12px;}
#yelp-searchbox{width:470px;}
#yelp-searchbox ul.yelp li{display:inline;}
#yelp-searchbox ul.yelp li a{text-decoration:none; font-weight:bold; color:#555; margin-right:40px;}
ul.yelp{width:470px; margin-bottom:10px;}
#yelp-searchbox #shopping td a{text-decoration:none; color:#555; }
#yelp-searchbox #shopping table.reviews tbody tr td{width:230px; font-size:11px; border-bottom:1px solid #f7f7f9; padding:3px 0;}
#yelp-searchbox #shopping table.reviews tbody tr td.name {width:550px;}
#yelp-searchbox #shopping table.reviews tbody tr{height:20px;}
.scroll-container{overflow:hidden; position:relative; height:250px;}
.scroll-container .scroll{left:0; position:absolute; top:0; width:1000em;}
.afshowAll, .afshowAll:hover {color:#DD5931;}
.afshow10, .afshow10:hover {color:#DD5931;}
.bfshowAll, .bfshowAll:hover {color:#DD5931;}
.bfshow10, .bfshow10:hover {color:#DD5931;}

span.price {width:70%;}

.listing-contacts hr {margin-top:15px;}
.detail-contact-button {background:url(../images/button-sprite.png) no-repeat; background-position: 0px -208px; width:150px; height:26px; text-align:center; margin-bottom:5px;}
.detail-contact-button:hover {background:url(../images/button-sprite.png) no-repeat; background-position: 0px -234px; width:150px; height:26px;}
.detail-contact-button a {color:#FFF; font-weight:bold; display:block; padding-top:7px;}
.detail-contact-button a:hover {color:#555;}*/

/****************************************************/
/* agent result page
*****************************************************/
.agent-page { width:950px; margin:0 auto; padding:0px 0 40px; }
.agent-container { width:93%; margin:12px auto 9px; }
.agent-container .agent-info{height:81px;}
.agent-container a {font-weight:bold; color:#666; text-decoration:none;}
.agent-container img {border:1px solid #d5d5d5; margin-right:12px; width:105px; height:147px;}
 ul.agent-results { margin:0; padding:0;}
 ul.agent-results li { background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent; margin-right:22px; width:298px; float: left; margin-bottom: 24px;}
.agent-search-container { margin: 20px 0; }
.agent-search-container input.text { width:200px; padding:2px 4px 4px; color:#747474; vertical-align:middle; height:18px; font-size:10px; font-style:normal;}
.agent-search-container input.button { vertical-align:middle; }
.agent-tools {margin-top:25px;}
.agent-tools a {font-size:11px; color:#666; text-decoration:none; line-height:14px; font-weight:normal;}
.agent-tools a.email-me {color:#2A406D; font-weight:bold;}
.agent_text {margin:20px 0 0 0;}
.agent-title {font-size:9px; font-style:italic;}
a.agent-name {color:#2A406D;}
.agent-info-container {/*float:left; margin-left: 25px;*/ width:160px;}
ul.agent-results li.no-right {margin-right:0px; }

/****************************************************/
/* agent detail page
*****************************************************/
.agent-detail-page { width:950px; margin:0 auto; padding:0px 0 40px; }
.agent-details { padding-top: 10px; }
ul.agent-links { margin:0; padding:0; }
ul.agent-links li { float:left; list-style:none; padding: 0 5px 0 0; }
ul.agent-links li a {text-transform:uppercase; text-decoration:none; color:#666; font-size:12px; }
ul.agent-links li a:focus {font-weight:bold; color:#2A406D;}
.bio {margin-bottom:16px; width:640px; margin-left:16px; margin-top:10px;}
.agent_detail_background { background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent; width:288px;}
.info-agent {margin-top:22px;}
.info-agent img {margin:12px 12px; width:105px; height:147px; border:1px solid #d5d5d5;}
.agent_detail_background div.agent_info {margin:12px 0 0;}
.agentname {font-weight:bold; color:#2A406D;}
.bio_container {width:630px;}
.read-more a {color:#2A406D;}
.re-collapse a {color:#2A406D;}
.press-info a {color:#2A406D;}
.agent-listing-nav {background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent; margin-top:15px;}
.active_listings {margin:12px;}
.active_listings a { font-size:14px; text-transform:uppercase; color:#666; text-decoration:none;}
.active_listings a:focus {font-weight:bold; color:#2A406D;}
.pages {margin:12px;}
.pages a { text-decoration:none; color:#666;}
.pages a:focus {font-weight:bold; color:#2A406D;}
.pages:focus {font-weight:bold; color:#2A406D;}
.agent-detail-page .agent-info-container{width:auto;}
.agent-info-container-detail {float:left; margin-left: 25px;}

table.recent-transactions-header { color:#fff; background:url(../images/result-header.png) no-repeat;  height:32px; margin:16px auto; padding-top:5px; width:950px; }
table.recent-transactions-header td {height:32px;}
a.disabled{ color:#2A406D; font-weight:bold;}
a.agent-bio-disabled {font-weight:bold;}
.press_container ul.press-list li .press-title {font-weight:bold;}

/****************************************************/
/* contact
*****************************************************/
.contact-page-wrapper { width:950px; margin:0 auto; padding:158px 0 70px; }
.company-title { font-size:18px;}
.company-info-container, .static-pages .contact-container {margin-top:10px;}
.company-info-container .company-title {color:#283E69;}
.company-info-container .company-title span {color:#78D4F4;}
.company-info-container b {color:#283E69;}
.contact-text {margin:3px 0 0 0px;}
.contact-map{width:230px; padding:5px; margin:30px 0 0 0px; background:url("../images/bottom-content-background.png") repeat scroll 0 0 transparent;}
.contact-map img{max-width:230px;}
.static-pages .contact-container .form .column-left{width:220px;}
.static-pages .contact-container ul.fill-in li{width:309px; margin-bottom:5px;}
.static-pages .contact-container ul.fill-in li input{margin:0;}

/****************************************************/
/* list with us
*****************************************************/
.list-with-us-page { /*width:720px;*/ margin:0 auto; padding:0px 0 5px 10px; }
.list-with-us-page-container { padding:20px 0 55px; width:980px; min-height:760px; z-index:0; margin:0px auto 0; position:relative; background:#f0efef; }

.list-with-us-title { width:845px; margin:15px auto; text-align:left; }
.list-with-us-wrapper { width:980px; margin:0 auto; }
.list-with-us-left-col { width:465px; float:left; }
.list-with-us-right-col { width:465px; float:right; }

.list-with-us-title-bar-container { width:875px; }
.list-with-us-title-bar-left-cap { float:left; height:48px; width:7px; background: url(../img/title_bar_left_cap.png) no-repeat; }
.list-with-us-title-bar-background { float:left; height:48px; width:861px; background: url(../img/title_bar_background.png) repeat-x; }
    .list-with-us-title-bar-background img { margin:13px 0 0 6px; }
.list-with-us-title-bar-right-cap { float:left; height:48px; width:7px; background: url(../img/title_bar_right_cap.png) no-repeat; }

.list-with-us-contact-container { width:85%; margin:15px auto; } 
.list-with-us-contact-values { width:50%; float:left; }
    .list-with-us-contact-values ul li { list-style:none; padding:3px 0; }
.list-with-us-contact-inputs { width:50%; float:right; height:25px; }
    .list-with-us-contact-inputs ul li { list-style:none; padding:3px 0; } 
.list-with-us-contact-input { font-style:italic; font-size:10px; height:16px; border: 1px solid #999; width:95%; background: url(../img/common/quick_search_background.png) repeat-x; vertical-align:middle; }

.list-with-us-property-container { width:90%; margin:15px auto; }
    .list-with-us-property-container ul { width:100%; }
    .list-with-us-property-container ul li { list-style:none; padding:3px 0; }
    .list-with-us-property-input { font-style:italic; font-size:10px; height:16px; border: 1px solid #999; width:63%; background: url(../img/common/quick-search-background.png) repeat-x; vertical-align:middle; }
    .list-with-us-property-size-input { font-style:italic; font-size:10px; height:16px; border: 1px solid #999; width:14.5%; background: url(../img/common/quick-search-background.png) repeat-x; vertical-align:middle; }

.list-with-us-container { width:720px; margin:12px 0 5px;}
    .list-with-us-container  div.text-area textarea { height:150px; width:695px; /*border:1px solid #666;*/ margin:5px 0 15px; }
    .list-with-us-container div.buttons { margin-bottom:15px; width:798px; text-align:right; }

.list-with-us-columns { width:45%; /*margin-right:20px;*/}
    .list-with-us-columns div.checkboxes { height:16px; vertical-align:middle; }
.list-with-us-labels { width:120px; float:left; margin-top:6px; height:16px; }
.list-with-us-inputs { margin-left:15px; width:175px; float:left; margin-bottom:10px; height:16px; }
.list-with-us-inputs-input { font-size:11px; width:175px; height:15px; border: 1px solid #666; background: url(../img/common/quick-search-background.png) repeat-x; vertical-align:middle; }
.list-with-us-inputs input{color:#666; margin-bottom:0;}
.list-with-us-inputs select { font-size:11px; width:176px; /*height:18px;*/ margin:.5em 0 0; padding:3px 0; border: 1px solid #BBBBBB; /*background: url(../img/common/quick-search-background.png) repeat-x;*/ /*background-color:#f0f0f0;*/ vertical-align:middle; color:#666; }
.list-with-us-container .checkboxes label, .list-with-us-container .apt-amenities-checkboxes label {font-weight:normal;}

.list-with-us-radio, .list-with-us-container .checkboxes {padding:5px 0 0 12px;}
.apt-amenities-checkboxes {padding:5px 0 0 12px;}

.list-with-us-page p span {color:#78d4f4; font-size:14px; font-weight:bold;}
.list-with-us-page p a {color:#283E69; text-decoration:none;}
.list-with-us-page p a:hover {color:#707070;}

/****************************************************/
/*Featured Listings Page
*****************************************************/
.result-wrapper .result-content-container{width:950px; margin:0 auto;}

/****************************************************/
/*Featured Buildings Page
*****************************************************/
.top-condos{width: 380px; height:430px; margin:0 30px 40px 15px; border:1px solid #ccc; padding:20px; background-color:#f7f7f9;}
.top-condos .top-condos-container .image{margin-bottom:20px;}
.top-condos .top-condos-container .image img{width:99.5%; max-height:251px;}
.top-condos .building-info p a{color:#555; font-size:18px; font-weight:bold; text-decoration:none;}
.top-condos .building-info p a span.featured-address{font-size:15px;}
.top-condos .building-info p{margin-top:5px; margin-bottom:15px;}
.condos-info{width:380px; margin-left:20px; margin-top:10px;}
.condos-info p em{color:#555; font-size:18px; font-weight:bold;}
.condos-info p em span.featured-address{font-size:15px;}

.condos-info .col {width:48%;}
.condos-info .col dl.property-details {margin:0; width:100%;}
.condos-info .col dl.property-details dt {width:45%;}
.condos-info .col dl.property-details dd {width:55%;}

/****************************************************/
/* footer
*****************************************************/
#footer .container {height:63px; width:950px; margin:0 auto; }
#footer .container .social {margin-top:4px; width:190px;}
#footer .container .affiliates {}
#footer .container .footer-info {margin:0 auto 15px; padding-top:2px;color:#fff; font-size:10px; line-height:18px; height:50px; width:530px; text-align:center;}
#footer .container .footer-info a {color:#fff; text-decoration:none;}
#footer .container .footer-info a:hover{color:#283E69;}
#footer .container .footer-info span {font-size:11px; font-weight:bold;}
#footer .container .footer-info ul li {display:inline; padding:0 5px;}
#footer .container .footer-info ul li.first {padding-left:0;}

#footer .container .footer-info ul.first{margin-left:62px; margin-top:2px;}
#footer .container .footer-info ul.second{margin-left:177px;}
#footer .container .footer-info ul.last{margin-left:230px;}
#footer .container .footer-info ul.sub-links, #footer .container .footer-info ul.sub-links li{padding-top:1px; float:left; margin-right:3px;}
#footer .container .address-info{font-weight:bold; color:#FFF; padding-top:13px; width:800px; margin-bottom:8px; font-size:11px; text-align:center;}
#search_list, #about_list, #resources_list {display:none;}
.affiliate-container {margin-top:2px;}

/****************************************************/
/* static
*****************************************************/
.static-pages { width:950px; margin:0 auto; padding:0px 0 10px; font-size:12px; }
.static-pages .photo {width:400px;}
.static-pages .photo img { width:400px;}
.static-pages .text {width:99%;}
.static-pages .text b {color:#2c3f70;}
.static-pages .text span {font-size:14px; font-weight:bold; color:#78D4F4;}
.static-pages .text p {margin-bottom:15px; line-height:18px;}
.static-pages .text p a {color:#283E69; text-decoration:none;}
.static-pages .text p a:hover {color:#707070;}
.static-pages .text ul {margin-bottom:15px; padding-left:35px;}
.static-pages .text ul li {list-style-type:disc;}
.static-pages .text ol {margin-bottom:15px; padding-left:35px;}
.guides span {color:#053063; font-size:15px;}
.guides a {color:#DD5931; font-size:12px; text-decoration:none;}
.guides a:hover {color:#666666; font-size:12px; text-decoration:none; text-decoration:underline;}
.guides p {}
.page-titles-guides { font-size:14px; color:#3B4C60; text-transform:uppercase; margin-top:16px;}
.neighborhood-page {width:950px; margin:0 auto; padding:148px 0 70px;}
.foreign p {padding-top:15px;}
.foreign ul {margin-top:15px;}
.foreign ul li {padding-bottom:10px; list-style-type:circle; list-style-position:outside; margin-left:30px;}

.foreign ol {margin-top:15px;}
.foreign ol li {padding-bottom:10px; list-style-position:outside; margin-left:30px;}
.foreign ol.alpha li {list-style-type:upper-alpha;}
.foreign ol.numeric li {list-style-type:decimal;}

.about-image {width:360px; height:212px; margin:0 30px 30px 0;}

.no-fee-text {width:950px; margin:0 auto;}
.no-fee-text p {margin-bottom:15px;}
.no-fee-text span {color:#78d4f4; font-size:14px; font-weight:bold;}



/*****************************************************/
/*Glossay & Terms Page
*****************************************************/
.static-pages .all-alpha-title ul{margin-bottom:20px;}
.static-pages .all-alpha-title ul li{display:inline; margin-right:5px;}
.static-pages .all-alpha-title ul li.letter{font-size:20px; font-weight:bold;}
.static-pages .all-alpha-title .alpha-title{font-size: 20px; font-weight:bold; border-left:1px solid #555; height:14px; line-height:12px; padding-left:4px; color:#ababab; margin-bottom:20px; padding-top:3px;}
.static-pages .all-alpha-title p.terms-title{font-weight:bold; font-size:13px; margin-top:10px;}

/*****************************************************/
/*Career Page
******************************************************/
.career-form .invalid-message-text-absolute {position:absolute; top:20px;}
.career-form .error-message-text {float: left; left: 190px; margin-top: 20px; position: absolute;}
.career-form {width:88%; margin:20px 20px 0;}
.career-form .column-left, .column-right {width:47%;}
.career-form ul li {height:35px; position:relative;}
.career-form ul li input, .career-form ul li select {margin-top:0px; float:right;}


/*****************************************************/
/*neighborhood guide
*****************************************************/
.neighborhood-photo-description-col { width:500px; margin-right:50px;}
    .neighborhood-photo-description-col .neighborhood-photo img { width:500px; }
    .neighborhood-photo-description-col .neighborhood-info img {max-width:20px; margin-right:8px;} 
.neighborhood-description-container { width:890px; margin:40px auto; }
.neighborhood-col-guide { width:300px; border-right:1px solid #d5d5d5; margin:-20px 0 0 10px; }
.neighborhood-col-guide li { margin-bottom:10px; }
.neighborhood-col-guide a { color:#666666; font-size:12px; padding-bottom:5px; text-decoration:none; }
    .neighborhood-col-guide a:hover { color:#DD5931; }
          
.neighborhood-title { margin:20px 0 10px; color:#283E69; text-transform:uppercase; }
.neighborhood-buttons-container a{text-decoration:none;}

.neighborhood-shortform .pages {margin:7px 0 0 0;}

.refine-search-container .salerent {padding-top:7px; width:125px;}

/*****************************************************/
/*Customer Registration Page
******************************************************/
.registration-page{width:950px; margin:0 auto;}
.registration-page .client_registration_left{width:450px;}
.registration-page .client_registration_left .desired_amenities{margin-top:5px;}
.registration-page .client_registration{width:850px;}

.registration-page .client_registration_left .desired_amenities td{width:190px;}
.registration-page .client_registration_right{width:260px; background-color:#f7f7f9; border:1px solid #ccc; padding:30px;}

/*****************************************************/
/*tooltip
*****************************************************/
#tooltip { position: absolute; z-index: 3000; padding:0; text-align:center; background:url(../images/map/tooltip.png) no-repeat; }
#tooltip h3, #tooltip div { margin: 0; }
#tooltip h3 { font-size: 12px; color:#605f5f; font-weight:bold; 
              padding: 15px 0 0; }


/*****************************************************/
/*VOW pop-up
*****************************************************/
.vow-pop-up { width:780px; height:365px; position:relative; background:url(../images/vow-background.png) no-repeat; }
.vow-pop-up .image { position:absolute; top:40px; left:30px; }
.vow-pop-up .sub-text { position:absolute; bottom:17px; left: 35px; width:285px; color:#ffffff; font-size:11px; font-weight:bold; }
.vow-pop-up .vow-info {-moz-border-radius:0px 8px 8px 0px; border-radius:0px 8px 8px 0px; font-size:12px; padding:18px 18px 0 30px; width:350px; position:absolute; left:0px; top:60px; color:#ffffff; background:url(../images/vow-transparency.png) repeat; }
    .vow-info li { padding:0 12px 12px 0; font-size:14px; list-style-type:square; }
    .vow-title {-moz-border-radius:8px 0px 0px 8px; border-radius:8px 0px 0px 8px; background:url(../images/vow-transparency.png) repeat; position:absolute; top:30px; right:0px; font-size:36px; padding:0 30px 0 18px; letter-spacing:-2px; color:#ffffff; }
    .register { position:absolute; bottom:30px; right:30px; }

/*****************************************************/
/* Print Listing alt
*****************************************************/    
.print-wrapper2 {width:800px; background:#ddd; margin:0; padding:20px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
    .print-wrapper2 .container { position:relative; width:720px; margin:0px auto; padding:20px; background:#ffffff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
        .print-wrapper2 .container .logo {width:204px; height:71px; background:url(../images/print-logo.png) no-repeat;}
        .print-wrapper2 .container .listing-id {width:204px; height:71px; position:absolute; top:20px; right:20px; text-align:right;}
        .print-wrapper2 .container .listing-id .heavy {font-weight:800; color:#605f5f;}
        .print-wrapper2 .container .photo-row {width:100%; margin:20px 0;}
            .print-wrapper2 .container .photo-row  .print-listing-photo-left {width:479px; height:294px; background:url(../images/print-listing-no-pic.png) no-repeat; float:left;}
            .print-wrapper2 .container .photo-row  .print-listing-photo-col-right {width:220px; height:294px; float:right;}
                .print-wrapper2 .container .photo-row  .print-listing-photo-col-right .photos {width:220px; height:135px; overflow:hidden; margin-bottom:23px;}
                    .print-wrapper2 .container .photo-row  .print-listing-photo-col-right .photos img {width:220px;}
    
    .print-wrapper2 .container .description-container {width:100%;}
        .print-wrapper2 .container .description-container .title {font-size:20px; font-weight:800; color:#605f5f;}
        .print-wrapper2 .container .description-container .description {font-size:12px;}
        
    .print-wrapper2 .container .two-col-container {width:100%; margin-top:20px;}
        .print-wrapper2 .container .two-col-container .general-details {float:left; width:49%; font-size:14px;}
            .print-wrapper2 .container .two-col-container .general-details li.address {font-weight:800;}
        .print-wrapper2 .container .two-col-container .agent-card {float:right; background-color: #F7F7F9; border: 1px solid #D5D5D5; margin-bottom: 20px; margin-right: 16px; width: 298px;}
        
        
/****************************************************/ 
/* Alphabet Search
*****************************************************/

.loader {width:200px; min-height: 70px; background: url(images/loading_transparent.gif) no-repeat 45% 50%; }
.names-container {min-width: 200px; min-height: 70px; }
ul.names li {padding:3px; }
.names-container-wide {width:300px; }
.names-container-wide ul.names li {float: left; width: 110px; padding-right: 20px; }
ul.letter {margin:200px;padding:0; }
ul.letter li {list-style-type:none;  padding:0; margin:0 10px 0 0;  float:left; color: #A8C5EB; font-size: 26px; cursor: pointer;}

/****************************************************/ 
/* Open Houses
*****************************************************/
.open-house-container{/*width:500px;*/ width:400px; margin-top:20px; margin-bottom:10px; font-weight:bold; color:Red;}

/****************************************************/ 
/* Docfolio
*****************************************************/
.welcome-msg-wrapper {width:100%; height:20px; background-color:#333; position:relative; top:-8px;}
.welcome-msg-container {width:990px; margin:0 auto; color:#FFF; font-weight:bold;}
.welcome-msg-container a {color:#FFF;}
.msg_list .msg_wrapper .docfolio-title {line-height:45px; color:#666; padding:0; margin-right:10px;}
.msg_list .msg_wrapper .options {margin-left:10px; padding-top:6px;}
.msg_list .msg_wrapper .options a {color:#666; }
.msg_list {width:960px; margin:15px auto;}
.msg_list a {color:#666; text-decoration:none;}

.msg_wrapper { position:relative; /*height:46px; background:#F7F7F9; border:1px solid #ccc;*/ color:#666; margin:10px auto 20px;}
    .msg_wrapper div.title {position:absolute; top:8px; left:16px; font-size:18px;color:#555;}
    .msg_wrapper div.buttons {position:absolute; top:7px; right:12px;}
    .msg_wrapper div.buttons img {margin-left:-4px;}
.msg_head_container {padding:0 22px; margin-bottom:10px; width:916px; background-color:#F7F7F9; border:1px solid #ccc;}
.msg_body {margin:0px auto 30px; font-size:11px; font-weight:bold;  background-color:#f0f0f2; border:1px solid #ccc; padding:10px 20px 5px;}
    .msg_body ul {/*width:50%;*/ width:100%; padding-top:7px;}
    .msg_body ul li {margin-bottom:15px; position:relative; width:50%; float:left; list-style:none; background:url(../images/toolbar/document.png) no-repeat top left; padding-top:3px;}
    .msg_body ul li div.pdf {background:url(../images/pdf.png) no-repeat; margin-right:10px;}
    .msg_body ul li div.doc {background:url(../images/document.png) no-repeat; margin-right:10px;}
    .msg_body ul li div.xsl {background:url(../images/excel.png) no-repeat; margin-right:10px;}
    .msg_body ul li div.img {background:url(../images/image.png) no-repeat; margin-right:10px;}
    .msg_body ul li a {line-height:19px; text-decoration:none; font-size:14px; color:#666; font-weight:normal; padding-left:25px;}
    .msg_body ul li .docTitle a {font-weight:bold;}
 
 .folio-corners {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}   
     
    .add-category-buttons {height:25px; width:85px; padding:0 12px; background:#e5e5e5; border:1px solid #ccc; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin-bottom:10px;}
    .folio-buttons {height:25px; padding:0 12px; margin-right:5px; margin-top:10px; background:#e5e5e5; border:1px solid #ccc; color:#666; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
    .add-category-buttons:hover, .folio-buttons:hover {background-color:#dddada;}
    .add-category-buttons, .folio-buttons span {line-height:25px;}    
    .folio-buttons span b {font-size:20px; font-weight:normal;}
    
.docfolio-search input {}
.docfolio-search .search-button {margin:2px 0 0 5px;}
    
/*.browse-field {margin:10px 0 10px 0; text-align:right;}
.browse-field input {}*/
.docs-options {padding-top:2px;}
.docs-options a {font-size:10px !important; padding:0px !important; color:#333 !important;}
.docs-info {font-weight:normal; padding-left:25px; font-size:12px;}    
    
/****************************************************/
/* Testimonial Page
****************************************************/
.testimonial-wrapper .testimonial-container{border-bottom:1px solid #283E69; padding:20px 0px;}
.testimonial-wrapper .testimonial-container .name{font-size:13px; font-weight:bold; color:#283E69;}
.testimonial-wrapper .testimonial-container .date{font-size:13px; font-weight:bold; color:#707070;}
.testimonial-wrapper .testimonial-container .description{margin-top:10px;}

/***************************************************/
 /* Site Map
*****************************************************/
.sitemap .sitemap-column {margin-right:100px;}
.sitemap .sitemap-column ul {margin-bottom:30px;}
.sitemap .sitemap-column ul li.main-title {font-weight:bold; font-size:16px; color:#ababab; border-left:1px solid #555; line-height:12px; padding-left:5px; margin-bottom:5px;}
.sitemap .sitemap-column ul li.main-title a {font-weight:bold; font-size:16px; color:#ababab; line-height:12px; padding-left:0px; margin-bottom:10px;}
.sitemap .sitemap-column ul li a {color:#555; padding-left:7px;}

/***************************************************/
/*Customer Registration
****************************************************/
.registration-page .registration-container .register_title_middle{margin-bottom:5px;}
.registration-page .registration-container .radio-section{width:350px; margin-top:20px;}
.registration-page .registration-container .neighborhood-section, .registration-page .registration-container .building-section{width:500px; margin-top:20px;}
.registration-page .registration-container .neighborhood-section .column-left,.registration-page .registration-container .neighborhood-section .column-middle, .registration-page .registration-container .neighborhood-section .column-right{width:150px;}
.registration-page .registration-container .building-section .column-left, .registration-page .registration-container .building-section .column-middle, .registration-page .registration-container .building-section .column-right{width:150px;}
.registration-page .registration-container .apartment-section, .registration-page .registration-container .price-section{width:415px; margin-top:20px;}
.registration-page .registration-container .comments-section{margin-top:20px; width:485px;}
.registration-page .registration-container .contact-section{background-color:#f7f7f9; border:1px solid #d5d5d5; width:270px; padding:20px; margin-right:40px;}
.registration-page .registration-container .contact-section ul li{margin:10px 0;}
.registration-page .registration-container .contact-section ul li input{margin:0; font-size:11px; padding:3px; width:142px; background-color:#f0f0f0; color:#999; font-style:italic;}
.registration-page .registration-container .contact-section ul li input.textbox-onclick:focus{color:#333; font-style:normal; background-color:#fff; box-shadow:inset 0 0 4px #7a9bb4;  -moz-box-shadow:inset 0 0 4px #7a9bb4; -webkit-box-shadow:inset 0 0 4px #7a9bb4; border-color:#ccc;}

/***************************************************/
/* Press Page
****************************************************/
.news-page{ width:950px; margin:0 auto; padding:0px 0 40px; font-size:12px; }
.press-result-container{margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #ccc;}
.press-logo{width:150px; height:105px;}
.press-logo img{width:150px; height:105px;}
.press-column-right{width:780px;}
.press-launch{margin:3px 5px 3px 0;}
.press-headline{margin:5px 3px 3px 0; font-size:13px;}
.press-headline a{text-decoration:none; color:#555; font-weight:bold;}
.press-snipit{}
.press-snipit a{text-decoration:none; font-weight:bold; color:#555;}

/**************************************************/
/* Relocation
***************************************************/
.relocation .form {width:88%; margin:0 auto;}
.relocation .column-left, .column-right {width:47%;}
.relocation ul li {height:35px; position:relative;}
.relocation ul li input, .relocation ul li select {margin-top:0px; float:right;}

/**************************************************/
/*Error Message 
**************************************************/
.error-message-text {font-size:9px;}
.invalid-message-text {font-size:9px; float:right; margin-bottom:8px;}
.invalid-message-text-absolute {font-size:9px; float:right; position:absolute; right:5px;}

.list-with-us-page .invalid-message-text {margin-top:-13px;}

.contact-container .error-message-text {float:left; margin-left:105px;}
.contact-container .invalid-message-text {margin:-14px 0 0;}

.relocation .error-message-text {float:left; position:absolute; left:190px; margin-top:20px;}
.relocation .invalid-message-text-absolute {margin-top:20px;}

.price-label {font-size:12px;}
.time-share-label {font-size:12px;}


/************************************************/
/* Safari CSS
*************************************************/
@media screen and (-webkit-min-device-pixel-ratio:0) {
div.refine-search-options div.search-size, div.refine-search-options div.search-price {margin-top: 3px !important;}
.refine-search-options .refine-label {padding-top:12px;}
}
