/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
}
table
{
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td
{
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: "";
}
blockquote, q
{
    quotes: "" "";
}
/* HTML5 tags */
header, section, footer, aside, nav, article, figure
{
    display: block;
}


/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper
{
    width: 620px;
    height:432px;
    /*height: 392px;*/
    margin: 0 auto;
    overflow:hidden;
}

#slider
{
    position: relative;
    width: 620px;
    height:432px;
    /*height: 369px;*/
    background: url(../images/loading_transparent.gif) no-repeat 50% 50%;
}
#slider img
{
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;

}
#slider a
{
    border: 0;
    display: block;
}

#slider .nivo-controlNav {
	position:absolute;
	text-align:right;
	width:98%;
	/*background:url(../img/slideshow-background.png) repeat;*/
	right:-4px;
	top:12px;
}
#slider .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
	margin-bottom:10px;
	float:left;
	/*height:40px;*/
	width:9%;
	border:solid 2px #fff;
	
}

.nivo-controlNav 
{
    display:none;
	position:absolute;
	right:20px;
	top:0px;
}
/*.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../img/bullets.png) no-repeat;
	border:0;
	margin-right:3px;
	float:left;
}*/

.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a
{
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
}
a.nivo-nextNav
{
    background-position: -30px 0;
    right: 15px;
}
a.nivo-prevNav
{
    left: 15px;
}

.nivo-caption
{
    text-shadow: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding-left:12px;
}
.nivo-caption a
{
    color: #fff;
    text-decoration: underline;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear
{
    clear: both;
}
