/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			7em; /* left offset of submenus need to match (see below) */
	
}

.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			25px; /* match top ul list item height */
	z-index:		101;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			7em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** default skin ***/
.sf-menu {
	float:			left;
	margin-bottom:	0;
}
.sf-menu a {
	padding: 	0;	/*.75em 1em;*/
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	/**color:			#13a;**/
}
.sf-menu li {
	/*background:		#274d2f;*/
}
.sf-menu li li {
	/*background:		#274d2f;*/
}
.sf-menu li li li {
	/*background:		#274d2f;*/
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	/**background:		#274d2f;**/
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}


/****** custom style for ljg *****/
.menu-container { margin: 0 auto;  height:16px; clear: both; }
.sf-menu { margin-left: 0px;}/*  */
.sf-menu li {cursor:pointer; background: none; color: #ffffff; padding:10px 38px 6px; font-size: 15px; text-transform:uppercase; /*border-right: 1px solid #ccc;*/ }
.sf-menu li:hover {color:#fff;}
.sf-menu li.last { border-right: none; padding-right:0px; }
.sf-menu li.first { padding-left:4px; }
.sf-menu li a { color: #ffffff; padding: 2px 0 0; }
.sf-menu li span { color: #ffffff; padding: 5px 0 0; display: block; cursor: default; }
.sf-menu li a:hover { color: #fff; }
.sf-menu li ul li {padding:15px 10px 0; height: 26px; border-right:none;  margin-left:-5px; background:#707070; border-bottom: 1px solid #BCAEAD; width:130px;}
.sf-menu li ul li:hover {background-color:#293e70;}
.sf-menu li ul li.last {border:none; padding:15px 10px 0; border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px;}
.sf-menu li ul { margin-top:5px; }
.sf-menu li ul li a { font-size: 12px; color:#fff; }
.about-us li { width: 87px !important; }

.sf-menu li.search ul {margin-left:0px;}
.sf-menu li.about ul {margin-left:38px;}
.sf-menu li.about ul li {margin-left:-9px;}
.sf-menu li.resource ul {margin-left:40px;}
.sf-menu li.resource ul li {width:220px; margin-left:-11px;}
